src/workflows-temp/Meta_CAPI_Handler.json
{
    "nodes": [
        {
            "parameters": {},
            "id": "c4d5bfb3-ad5c-495a-9e05-b45542b31f0e",
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [
                1520,
                -240
            ]
        },
        {
            "parameters": {
                "jsCode": "// Prepare CAPI Data: Split profiles if passed as array\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json.orderData || item.json;\n  const profiles = data['metaPixelProfiles'] || [];\n  \n  if (profiles.length === 0 && data['pixelId']) {\n      // Backward compat: single profile\n      profiles.push({ pixelId: data['pixelId'], capiToken: data['capiToken'], testCode: data['testCode'] });\n  }\n\n  for (const profile of profiles) {\n    results.push({\n      json: {\n        ...data,\n        ...profile\n      }\n    });\n  }\n}\n\nreturn results;"
            },
            "id": "f3ed3c79-8eee-41db-9888-6c514910fd11",
            "name": "Split Profiles",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1744,
                -240
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.capiToken }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "88e843e2-f54e-49db-980e-2aa688425896",
            "name": "Has Token?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1968,
                -240
            ]
        },
        {
            "parameters": {
                "jsCode": "const crypto = require('crypto');\n\nconst item = $input.item.json;\n\n// Helper to hash\nfunction sha256(val) {\n  if (!val) return undefined;\n  return crypto.createHash('sha256').update(val).digest('hex');\n}\n\n// Normalize Phone (Algeria specific logic included)\nlet phone = item.phone ? item.phone.toString().replace(/\\D/g, '') : '';\nif (phone.startsWith('05') || phone.startsWith('06') || phone.startsWith('07')) {\n  phone = '213' + phone.substring(1);\n}\nif (phone.startsWith('5') || phone.startsWith('6') || phone.startsWith('7')) {\n  // Assume missing 0\n  phone = '213' + phone;\n}\n\n// Split Name\nconst nameParts = item.name ? item.name.trim().split(/\\s+/) : [];\nconst fn = nameParts.length > 0 ? nameParts[0].toLowerCase() : undefined;\nconst ln = nameParts.length > 1 ? nameParts.slice(1).join(' ').toLowerCase() : undefined;\n\n// Email (normalize and hash)\nconst em = item.email ? sha256(item.email.trim().toLowerCase()) : undefined;\n\n// Location (City/State/Country)\nconst ct = item.commune ? sha256(item.commune.trim().toLowerCase()) : undefined;\nconst st = item.wilaya ? sha256(item.wilaya.trim().toLowerCase()) : undefined;\nconst country = sha256('dz');\n\n// Construct User Data\nconst user_data = {\n  em,\n  ph: phone ? sha256(phone) : undefined,\n  fn: fn ? sha256(fn) : undefined,\n  ln: ln ? sha256(ln) : undefined,\n  ct,\n  st,\n  country,\n  fbp: item.fbp,\n  fbc: item.fbc,\n  client_ip_address: item.clientIp,\n  client_user_agent: item.userAgent || item.client_user_agent\n};\n\nreturn {\n  pixelId: item.pixelId,\n  capiToken: item.capiToken,\n  testCode: item.testCode,\n  event_name: item.status === 'abandoned' ? 'InitiateCheckout' : 'Purchase',\n  event_time: Math.floor(Date.now() / 1000),\n  event_id: item.event_id,\n  event_source_url: item.shopDomain,\n  action_source: 'website',\n  user_data,\n  custom_data: {\n    value: item.totalPrice,\n    currency: 'DZD',\n    content_ids: [item.productId],\n    content_type: 'product',\n    content_name: item.productTitle,\n    num_items: item.quantity\n  }\n};"
            },
            "id": "670f1b4f-4d8c-4c35-ba54-0b00dd811609",
            "name": "Format & Hash Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2192,
                -240
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v19.0/{{ $json.pixelId }}/events",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "access_token",
                            "value": "={{ $json.capiToken }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "data",
                            "value": "={{ [\n  {\n    \"event_name\": $json.event_name,\n    \"event_time\": $json.event_time,\n    \"event_id\": $json.event_id,\n    \"event_source_url\": $json.event_source_url,\n    \"action_source\": \"website\",\n    \"user_data\": $json.user_data,\n    \"custom_data\": $json.custom_data\n  }\n] }}"
                        },
                        {
                            "name": "test_event_code",
                            "value": "={{ $json.testCode || undefined }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "4dfaf747-3c17-4809-9192-db22ddad82b4",
            "name": "Send CAPI Event",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2400,
                -240
            ]
        }
    ],
    "connections": {
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Split Profiles",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Profiles": {
            "main": [
                [
                    {
                        "node": "Has Token?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Token?": {
            "main": [
                [
                    {
                        "node": "Format & Hash Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format & Hash Data": {
            "main": [
                [
                    {
                        "node": "Send CAPI Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
    }
}