src/workflows-temp/N8N_Init_Tables.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n/init",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1568,
        -160
      ],
      "id": "36bc558f-c520-462b-88e4-7900b8a9c1a3",
      "name": "Init Webhook",
      "webhookId": "n8n-init-webhook"
    },
    {
      "parameters": {
        "resource": "table",
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1328,
        -160
      ],
      "id": "d8980eab-857d-431b-8597-2958d28c26f1",
      "name": "List Existing Tables",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Check which tables exist\nconst tables = $input.all().map(t => t.json.name).filter(Boolean);\n\nconst requiredTables = [\n  'stores',\n  'store_configs',\n  'product_configs'\n];\n\nconst toCreate = requiredTables.filter(t => !tables.includes(t));\n\nreturn [{ json: {\n  existingTables: tables,\n  tablesToCreate: toCreate,\n  allExist: toCreate.length === 0\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        -160
      ],
      "id": "cf1da081-3109-40cb-81ce-b4627e6f9f77",
      "name": "Check Required Tables"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-stores",
              "leftValue": "={{ $json.tablesToCreate.includes('stores') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -848,
        -160
      ],
      "id": "dfdc5cfd-a0af-4822-9334-9dabe98ebd29",
      "name": "If Needs Stores"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "stores",
        "columns": {
          "column": [
            {
              "name": "storeId"
            },
            {
              "name": "shopDomain"
            },
            {
              "name": "subdomain"
            },
            {
              "name": "clientId"
            },
            {
              "name": "clientSecret"
            },
            {
              "name": "accessToken"
            },
            {
              "name": "shopName"
            },
            {
              "name": "userId"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -608,
        -256
      ],
      "id": "4616ef71-9094-4168-a2ff-53389c4d9181",
      "name": "Create Stores Table"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-configs",
              "leftValue": "={{ $('Check Required Tables').first().json.tablesToCreate.includes('store_configs') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        -160
      ],
      "id": "2200bf70-2b17-408a-a35b-817b1ece2ba2",
      "name": "If Needs Configs"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "store_configs",
        "columns": {
          "column": [
            {
              "name": "storeId"
            },
            {
              "name": "formId"
            },
            {
              "name": "formData"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -128,
        -256
      ],
      "id": "af803547-55d3-4d90-a84e-658e848ec7fd",
      "name": "Create Configs Table"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-product-configs",
              "leftValue": "={{ $('Check Required Tables').first().json.tablesToCreate.includes('product_configs') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -160
      ],
      "id": "if-needs-product-configs",
      "name": "If Needs Product Configs"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "product_configs",
        "columns": {
          "column": [
            {
              "name": "storeId"
            },
            {
              "name": "productId"
            },
            {
              "name": "formId"
            },
            {
              "name": "formData"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        352,
        -256
      ],
      "id": "create-product-configs-table",
      "name": "Create Product Configs Table"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Tables initialized\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        592,
        -160
      ],
      "id": "d5e21c7e-2afc-4cb0-84b7-ea5c5cf46992",
      "name": "Respond Success"
    }
  ],
  "connections": {
    "Init Webhook": {
      "main": [
        [
          {
            "node": "List Existing Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Existing Tables": {
      "main": [
        [
          {
            "node": "Check Required Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Required Tables": {
      "main": [
        [
          {
            "node": "If Needs Stores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Stores": {
      "main": [
        [
          {
            "node": "Create Stores Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Needs Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Stores Table": {
      "main": [
        [
          {
            "node": "If Needs Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Configs": {
      "main": [
        [
          {
            "node": "Create Configs Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Needs Product Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Configs Table": {
      "main": [
        [
          {
            "node": "If Needs Product Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Product Configs": {
      "main": [
        [
          {
            "node": "Create Product Configs Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product Configs Table": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
  }
}