src/workflows-temp/Shopify_Disconnect.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/disconnect",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -11616,
        208
      ],
      "id": "83fe3c51-0478-4ad6-81b7-256fbefabf57",
      "name": "Receive Disconnect Request",
      "webhookId": "shopify-disconnect-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse disconnect request\nconst body = $input.first().json.body;\n\n// normalize shop domain\nlet shopDomain = body.shopDomain || '';\nif (shopDomain && !shopDomain.includes('.')) {\n  shopDomain += '.myshopify.com';\n}\n\nif (!shopDomain) {\n  return [{ json: { valid: false, error: 'shopDomain is required' } }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    shopDomain: shopDomain\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11376,
        208
      ],
      "id": "5d9d6058-535e-43df-a69e-26dd4e14ad72",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -11136,
        208
      ],
      "id": "1e1ad182-23de-4f78-97c3-dbea80f74923",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "stores",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -10896,
        112
      ],
      "id": "31509eb5-a4cf-4a25-bbb0-6887fcff538e",
      "name": "Get Stores",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find the row to delete\nconst rows = $input.all();\nconst shopDomain = $('Parse Request').first().json.shopDomain;\n\nconst row = rows.find(r => r.json.shopDomain === shopDomain);\n\nif (row) {\n  return [{ json: { found: true, rowId: row.id, shopDomain } }];\n}\n\nreturn [{ json: { found: false, shopDomain } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10656,
        112
      ],
      "id": "3ffc6af7-260a-4545-aaa5-b2343479688a",
      "name": "Find Row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "row-exists",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -10416,
        112
      ],
      "id": "a71f28b0-fd68-4659-bb5b-7b9587e1f22d",
      "name": "If row exists"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "stores",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.rowId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -10176,
        0
      ],
      "id": "9543fb6d-7aab-4de9-942c-963e0339e831",
      "name": "Delete row"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Store credentials removed successfully' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -9936,
        112
      ],
      "id": "84c99855-2b8b-498a-b5f1-26cf941a3c1c",
      "name": "Respond"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Store credentials already removed or not found' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -10176,
        208
      ],
      "id": "4e22b854-6e00-4a3c-9ad6-e466b9034408",
      "name": "Not Found (OK)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || 'Invalid request' }) }}",
        "options": {
          "responseCode": "400",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -10896,
        304
      ],
      "id": "3dff2c35-1f0b-46c7-b8db-1598e3e0b390",
      "name": "Error Response"
    }
  ],
  "connections": {
    "Receive Disconnect Request": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Get Stores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stores": {
      "main": [
        [
          {
            "node": "Find Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Row": {
      "main": [
        [
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "Delete row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found (OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
  }
}