src/workflows-temp/Shopify_Save_Config.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/save-config",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -15360,
        1680
      ],
      "id": "88113ad3-eb18-4dfa-bb7d-ac9c13e6502a",
      "name": "Webhook",
      "webhookId": "save-config-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse request body\nconst body = $input.first().json.body;\n\nconst shopDomain = body.shopDomain;\nconst clientId = body.clientId;\nconst clientSecret = body.clientSecret;\nconst formId = body.formId;\nconst formData = body.formData;\n\n// Normalize ownerId:\n// - Empty string '' for store-level assignments\n// - Product ID string for product-level assignments\nlet ownerId = body.ownerId;\nif (!ownerId || ownerId === 'null' || ownerId === 'undefined') {\n  ownerId = '';\n} else {\n  ownerId = String(ownerId);\n}\n\n// Validate required fields\nif (!shopDomain || !clientId || !clientSecret) {\n  return [{ json: { error: 'Missing required credentials', valid: false } }];\n}\n\nif (!formId) {\n  return [{ json: { error: 'Missing formId', valid: false } }];\n}\n\nif (!formData) {\n  return [{ json: { error: 'Missing formData', valid: false } }];\n}\n\nreturn [{ json: {\n  valid: true,\n  shopDomain,\n  clientId,\n  clientSecret,\n  ownerId,\n  formId: String(formId),\n  formData: typeof formData === 'string' ? formData : JSON.stringify(formData)\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15120,
        1680
      ],
      "id": "0da8652b-a4f5-4acc-a31e-efe09f9f6e81",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -14880,
        1680
      ],
      "id": "c964c63f-eb97-4475-983e-d79e880c3326",
      "name": "If Valid"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "stores",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -14640,
        1584
      ],
      "id": "f02eb485-953e-456d-ba2f-48a7b948fc3b",
      "name": "Get Stores",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find store and verify credentials\nconst rows = $input.all();\nconst req = $('Parse Request').first().json;\n\nconst store = rows.find(r => r.json.shopDomain === req.shopDomain);\n\nif (!store) {\n  return [{ json: { found: false, error: 'Store not found' } }];\n}\n\n// Verify credentials\nif (store.json.clientId !== req.clientId || store.json.clientSecret !== req.clientSecret) {\n  return [{ json: { found: false, error: 'Invalid credentials' } }];\n}\n\nreturn [{ json: {\n  found: true,\n  storeId: store.json.storeId,\n  ownerId: req.ownerId,\n  formId: req.formId,\n  formData: req.formData\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14400,
        1584
      ],
      "id": "d3e8f4c4-1c0f-423a-9e7d-c29d1199d31c",
      "name": "Verify Store"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "store-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -14160,
        1584
      ],
      "id": "66d1712f-28a4-45aa-a63d-1be5df675fd3",
      "name": "If Store Found"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "store_configs",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "storeId"
            },
            {
              "keyName": "ownerId"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "storeId": "={{ $json.storeId }}",
            "ownerId": "={{ $json.ownerId }}",
            "formId": "={{ $json.formId }}",
            "formData": "={{ $json.formData }}"
          },
          "matchingColumns": [
            "storeId",
            "ownerId"
          ],
          "schema": [
            {
              "id": "storeId",
              "displayName": "storeId",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ownerId",
              "displayName": "ownerId",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "formId",
              "displayName": "formId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "formData",
              "displayName": "formData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -13920,
        1472
      ],
      "id": "576344c2-7ab5-4818-8c80-015bcb238d52",
      "name": "Upsert Config"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: 'saved', storeId: $json.storeId, ownerId: $json.ownerId, formId: $json.formId }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache, no-store, must-revalidate"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -13680,
        1472
      ],
      "id": "ccd396b1-0ac7-4983-921f-e29f4da9bf71",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || 'Unknown error' }) }}",
        "options": {
          "responseCode": "400",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -14224,
        1936
      ],
      "id": "119bf5b6-590f-4eee-90a7-377cbb4be524",
      "name": "Respond Error"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "If Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid": {
      "main": [
        [
          {
            "node": "Get Stores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stores": {
      "main": [
        [
          {
            "node": "Verify Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Store": {
      "main": [
        [
          {
            "node": "If Store Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Store Found": {
      "main": [
        [
          {
            "node": "Upsert Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Config": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
  }
}