src/workflows-temp/Shopify_Connect.json
{
  "name": "Shopify Connect",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/connect",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2448,
        -336
      ],
      "id": "e088bc20-7676-4a24-af57-7007b9511ded",
      "name": "Receive Connect Request",
      "webhookId": "shopify-connect-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.body.subdomain }}.myshopify.com/admin/oauth/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $json.body.clientId }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.body.clientSecret }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2688,
        -336
      ],
      "id": "2729a2a2-bde1-4c0b-b541-027e76cba4be",
      "name": "Get Access Token",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Receive Connect Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/shop.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2928,
        -336
      ],
      "id": "3ee2f0a4-b942-4562-a951-6b6b103ea8de",
      "name": "Get Shop Details",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Receive Connect Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3168,
        -336
      ],
      "id": "35ca6fc2-1eb4-4a32-b834-c2356e2e0068",
      "name": "Check Existing ScriptTags",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Build the success response with proper JSON structure\nconst shopData = $('Get Shop Details').item.json.shop;\nconst accessToken = $('Get Access Token').item.json.access_token;\nconst scriptTags = $input.first().json.script_tags || [];\n\n// Find FinalForm loader script tag\nconst loaderTag = scriptTags.find(t => \n  t.src && (t.src.includes('finalform'))\n);\n\nconst loaderInstalled = !!loaderTag;\n\n// Extract version from URL if present (e.g., ?v=1.1.0 or version in filename)\nlet loaderVersion = null;\nif (loaderTag && loaderTag.src) {\n  // Try to extract version from query param\n  const versionMatch = loaderTag.src.match(/[?&]v(?:ersion)?=([0-9]+\\.[0-9]+\\.[0-9]+)/);\n  if (versionMatch) {\n    loaderVersion = versionMatch[1];\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    shop: shopData,\n    loaderInstalled: loaderInstalled,\n    loaderVersion: loaderVersion,\n    loaderScriptTagId: loaderTag ? loaderTag.id.toString() : null,\n    accessToken: accessToken\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3408,
        -336
      ],
      "id": "8bb401cf-f953-462c-a503-a209e869bddf",
      "name": "Format Success Response"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3648,
        -336
      ],
      "id": "d81d28ac-0b19-4d0e-a1a8-7efb9c6a8e39",
      "name": "Return Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || $json.message || 'Connection failed. Please verify your credentials.' }}\"\n}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2688,
        -144
      ],
      "id": "3fad363b-818f-4a87-aeb1-cf8df1c993a2",
      "name": "Return Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || $json.message || 'Failed to retrieve shop details' }}\"\n}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2928,
        -144
      ],
      "id": "61fcfa55-b745-43b6-a7e9-bd651621a037",
      "name": "Shop Error"
    }
  ],
  "connections": {
    "Receive Connect Request": {
      "main": [
        [
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "Get Shop Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shop Details": {
      "main": [
        [
          {
            "node": "Check Existing ScriptTags",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Shop Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing ScriptTags": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": null
}