src/workflows-temp/Shopify_Get_Products.json
{
  "name": "Shopify Get Products",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/products",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "products-webhook",
      "name": "Webhook",
      "webhookId": "get-products-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse request and build shop domain\nconst body = $input.first().json.body;\nconst subdomain = body.subdomain;\nconst shopDomain = subdomain + '.myshopify.com';\n\nreturn [{ json: { \n  subdomain, \n  shopDomain,\n  search: body.search || null,\n  limit: body.limit || 250,\n  page_info: body.page_info || null\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "parse-request",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "resource": "table",
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "id": "list-tables",
      "name": "List data tables",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Check if 'stores' table exists in the list of tables\nconst tables = $input.all();\nconst tableNames = tables.map(t => t.json.name);\n\nconst storesTableExists = tableNames.includes('stores');\n\n// Find the stores table ID if it exists\nlet storesTableId = null;\nif (storesTableExists) {\n  const storesTable = tables.find(t => t.json.name === 'stores');\n  storesTableId = storesTable ? storesTable.json.id : null;\n}\n\nreturn [{\n  json: {\n    storesTableExists,\n    storesTableId,\n    tableNames\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "split-out",
      "name": "Check Tables Exist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "table-exists",
              "leftValue": "={{ $json.storesTableExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        0
      ],
      "id": "if-table-exists",
      "name": "If Table exists"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Check Tables Exist').first().json.storesTableId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1200,
        -100
      ],
      "id": "get-store-creds",
      "name": "Get Store Credentials",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find matching store\nconst rows = $input.all();\nconst req = $('Parse Request').first().json;\n\nconst store = rows.find(r => r.json.shopDomain === req.shopDomain);\n\nif (store && store.json.accessToken) {\n  return [{ json: { \n    found: true, \n    subdomain: req.subdomain, \n    accessToken: store.json.accessToken,\n    search: req.search,\n    limit: req.limit,\n    page_info: req.page_info\n  } }];\n}\n\nreturn [{ json: { found: false, subdomain: req.subdomain } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -100
      ],
      "id": "find-store",
      "name": "Find Store"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "found-check",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        -100
      ],
      "id": "if-creds-found",
      "name": "Credentials Found?"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.subdomain }}.myshopify.com/admin/api/2024-01/products/count.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.search || undefined }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        -240
      ],
      "id": "get-count",
      "name": "GetCount",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Find Store').first().json.subdomain }}.myshopify.com/admin/api/2024-01/products.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ $('Find Store').first().json.limit }}"
            },
            {
              "name": "fields",
              "value": "id,title,handle,status,variants,options,images,vendor,product_type,published_at"
            },
            {
              "name": "title",
              "value": "={{ !$('Find Store').first().json.page_info && $('Find Store').first().json.search ? $('Find Store').first().json.search : undefined }}"
            },
            {
              "name": "page_info",
              "value": "={{ $('Find Store').first().json.page_info || undefined }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Find Store').first().json.accessToken }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1920,
        -40
      ],
      "id": "get-products",
      "name": "GetProducts",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.item.json.headers;\nconst linkHeader = headers.link || headers.Link || '';\nlet next = null;\nlet prev = null;\n\nif (linkHeader) {\n  const links = linkHeader.split(',');\n  links.forEach(link => {\n    if (link.includes('rel=\"next\"')) {\n      const match = link.match(/page_info=([^>&]+)/);\n      if (match) next = match[1];\n    }\n    if (link.includes('rel=\"previous\"')) {\n      const match = link.match(/page_info=([^>&]+)/);\n      if (match) prev = match[1];\n    }\n  });\n}\n\nreturn {\n  products: $input.item.json.body.products,\n  next_page_info: next,\n  prev_page_info: prev\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -40
      ],
      "id": "parse-pagination",
      "name": "ParsePagination"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2400,
        -140
      ],
      "id": "merge",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Format the response with proper JSON structure\nconst count = $input.first().json.count || 0;\nconst products = $input.first().json.products || [];\nconst next = $input.first().json.next_page_info || '';\nconst prev = $input.first().json.prev_page_info || '';\n\nreturn [{\n  json: {\n    count: count,\n    products: products,\n    next_page_info: next,\n    prev_page_info: prev\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -140
      ],
      "id": "format-response",
      "name": "Format Response"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2880,
        -140
      ],
      "id": "success",
      "name": "Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Store not connected. Please connect your store first.\"\n}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1920,
        100
      ],
      "id": "no-creds-error",
      "name": "No Credentials Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Store credentials table not found. Please connect your store first.\"\n}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1200,
        100
      ],
      "id": "no-table-error",
      "name": "No Table Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || $json.message || 'Failed to fetch products' }}\"\n}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2160,
        160
      ],
      "id": "products-error",
      "name": "Products Error"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "List data tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List data tables": {
      "main": [
        [
          {
            "node": "Check Tables Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tables Exist": {
      "main": [
        [
          {
            "node": "If Table exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Table exists": {
      "main": [
        [
          {
            "node": "Get Store Credentials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Table Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Credentials": {
      "main": [
        [
          {
            "node": "Find Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Store": {
      "main": [
        [
          {
            "node": "Credentials Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials Found?": {
      "main": [
        [
          {
            "node": "GetCount",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetProducts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Credentials Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCount": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Products Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetProducts": {
      "main": [
        [
          {
            "node": "ParsePagination",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Products Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParsePagination": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": null
}