src/workflows-temp/Shopify_Disable_Loader.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/disable-loader",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -14288,
        -384
      ],
      "id": "874e1de9-3b07-4485-86a2-987374d47721",
      "name": "Receive Disable Request",
      "webhookId": "disable-loader-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse request and build shop domain\nconst body = $input.first().json.body;\nconst subdomain = body.subdomain;\nconst shopDomain = subdomain + '.myshopify.com';\n\nreturn [{ json: { subdomain, shopDomain } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14048,
        -384
      ],
      "id": "5a003ee8-6c4c-4fce-8f35-d02814517dbd",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "resource": "table",
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -13808,
        -384
      ],
      "id": "66e2e355-cb67-45db-ae56-4cea0fc396a5",
      "name": "List data tables",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Check if 'stores' table exists in the list of tables\nconst tables = $input.all();\nconst tableNames = tables.map(t => t.json.name);\n\nconst storesTableExists = tableNames.includes('stores');\n\n// Find the stores table ID if it exists\nlet storesTableId = null;\nif (storesTableExists) {\n  const storesTable = tables.find(t => t.json.name === 'stores');\n  storesTableId = storesTable ? storesTable.json.id : null;\n}\n\nreturn [{\n  json: {\n    storesTableExists,\n    storesTableId,\n    tableNames\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13568,
        -384
      ],
      "id": "5e7d8a6e-82b5-4c7b-b869-95ed3389dbab",
      "name": "Check Tables Exist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "table-exists",
              "leftValue": "={{ $json.storesTableExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -13328,
        -384
      ],
      "id": "ad349d44-e9ce-4080-a0c6-a24226cb3973",
      "name": "If Table exists"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Check Tables Exist').first().json.storesTableId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -13088,
        -496
      ],
      "id": "81012c78-64a1-498f-8b8c-daf6edfcd4f4",
      "name": "Get Store Credentials",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find matching store\nconst rows = $input.all();\nconst shopDomain = $('Parse Request').first().json.shopDomain;\nconst subdomain = $('Parse Request').first().json.subdomain;\n\nconst store = rows.find(r => r.json.shopDomain === shopDomain);\n\nif (store && store.json.accessToken) {\n  return [{ json: { found: true, subdomain, accessToken: store.json.accessToken } }];\n}\n\nreturn [{ json: { found: false, subdomain } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12848,
        -496
      ],
      "id": "4397fed8-4fe7-4a52-8cc4-06c790b6a459",
      "name": "Find Store"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "found-check",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -12608,
        -496
      ],
      "id": "4e15f63c-b5e8-46c0-957a-77bd84830d88",
      "name": "Credentials Found?"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -12368,
        -592
      ],
      "id": "1a7d997b-7765-4218-9435-7fcc0bd76e6f",
      "name": "Get Existing ScriptTags",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Find the finalform script tag\nconst scriptTags = $input.first().json.script_tags || [];\nconst accessToken = $('Find Store').first().json.accessToken;\nconst subdomain = $('Find Store').first().json.subdomain;\n\nconst finalformTag = scriptTags.find(t => \n  t.src && t.src.includes('finalform')\n);\n\nif (finalformTag) {\n  return [{ json: { scriptTagId: finalformTag.id, found: true, accessToken, subdomain } }];\n} else {\n  return [{ json: { found: false } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12128,
        -592
      ],
      "id": "a0b9732c-c404-44bd-bc1d-4bb73ad3ea88",
      "name": "Find Loader Script"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "loader-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -11888,
        -592
      ],
      "id": "8e8d9308-62d9-4dab-96c1-019aad4939ce",
      "name": "Is Loader Found?"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://{{ $json.subdomain }}.myshopify.com/admin/api/2024-01/script_tags/{{ $json.scriptTagId }}.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -11648,
        -688
      ],
      "id": "fce2636a-a5d0-4e64-8757-2403416376b4",
      "name": "Delete Loader Script",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, removed: true, message: 'Loader disabled successfully!' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11408,
        -688
      ],
      "id": "cdacf311-cd7a-4d11-932a-21dfb2515e2d",
      "name": "Success (Removed)"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, removed: false, message: 'Loader was not installed.' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11648,
        -496
      ],
      "id": "979dc357-5227-4af1-b914-091fe9121a24",
      "name": "Not Found"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -11168,
        -384
      ],
      "id": "26f480c1-6286-4d3c-87f9-cecf24eb435d",
      "name": "Respond"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Store not connected. Please connect your store first.\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -12368,
        -384
      ],
      "id": "884e300b-4af6-4e69-8aad-01d5d4d69b2d",
      "name": "No Credentials Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Store credentials table not found. Please connect your store first.\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -13088,
        -288
      ],
      "id": "26f7d9c2-531b-417e-9120-e886fc7ffa86",
      "name": "No Table Error"
    }
  ],
  "connections": {
    "Receive Disable Request": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "List data tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List data tables": {
      "main": [
        [
          {
            "node": "Check Tables Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tables Exist": {
      "main": [
        [
          {
            "node": "If Table exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Table exists": {
      "main": [
        [
          {
            "node": "Get Store Credentials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Table Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Credentials": {
      "main": [
        [
          {
            "node": "Find Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Store": {
      "main": [
        [
          {
            "node": "Credentials Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials Found?": {
      "main": [
        [
          {
            "node": "Get Existing ScriptTags",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Credentials Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing ScriptTags": {
      "main": [
        [
          {
            "node": "Find Loader Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Loader Script": {
      "main": [
        [
          {
            "node": "Is Loader Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Loader Found?": {
      "main": [
        [
          {
            "node": "Delete Loader Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Loader Script": {
      "main": [
        [
          {
            "node": "Success (Removed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success (Removed)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Found": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
  }
}