src/workflows-temp/Shopify_Submit_Order.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-order",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -10624,
        1824
      ],
      "id": "5cde461c-a258-43cd-989e-0ab344881578",
      "name": "Receive Order",
      "webhookId": "order-submit-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse and structure the order data\nconst body = $input.first().json.body || {};\n\n// Basic Validation\nconst errors = [];\nif (!body.shopDomain) errors.push('Missing shopDomain');\nif (!body.items || !body.items.length) errors.push('Missing items');\nif (!body.name) errors.push('Missing name');\nif (!body.phone) errors.push('Missing phone');\n\nif (errors.length > 0) {\n  return [{ json: { valid: false, errors, body } }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    shopDomain: body.shopDomain,\n    orderData: body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10400,
        1824
      ],
      "id": "360e4f77-8981-4520-8484-c9fc4763bb10",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -10176,
        1824
      ],
      "id": "8af71ce3-64bb-4f8f-857a-18b98f2d3c25",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "stores",
          "mode": "name"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -9952,
        1728
      ],
      "id": "f8acbd0a-45b8-4fc2-b3a5-e4b6a8771ef3",
      "name": "Get Stores",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find matching store credential\nconst stores = $input.all().map(i => i.json);\nconst requestData = $('Validate Input').first().json;\nconst shopDomain = requestData.shopDomain;\n\nconst store = stores.find(s => s.shopDomain === shopDomain || s.subdomain === shopDomain.replace('.myshopify.com', ''));\n\nif (!store) {\n  return [{ json: { found: false, error: 'Store not found in database' } }];\n}\n\nif (!store.accessToken) {\n   return [{ json: { found: false, error: 'Store credentials missing (accessToken)' } }];\n}\n\nreturn [{ json: { found: true, store, orderData: requestData.orderData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9744,
        1728
      ],
      "id": "7c68b07b-56fd-4e48-a659-5da37825d8b8",
      "name": "Find Store Credentials"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "store-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9520,
        1728
      ],
      "id": "ebf92993-1773-4224-a92a-c22f55217974",
      "name": "Store Found?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-abandoned",
              "leftValue": "={{ $json.orderData.status }}",
              "rightValue": "abandoned",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9328,
        1728
      ],
      "id": "f10672eb-dda7-421f-9a73-84399463d0e9",
      "name": "Check Status"
    },
    {
      "parameters": {
        "jsCode": "// Build Shopify Order GraphQL Mutation\nconst { store, orderData } = $input.first().json;\n\n// 1. LINE ITEMS\nlet lineItems = [];\nconst qty = Number(orderData.quantity) || 1;\n\nif (orderData.variantId) {\n  let vid = String(orderData.variantId);\n  if (!vid.startsWith('gid://')) vid = 'gid://shopify/ProductVariant/' + vid;\n  lineItems.push({ variantId: vid, quantity: qty, requiresShipping: true });\n} else {\n  const items = orderData.items || [{ title: orderData.productTitle || 'Product', price: orderData.totalPrice, quantity: qty }];\n  lineItems = items.map(item => ({\n    title: item.title || 'Product',\n    quantity: Number(item.quantity) || 1,\n    originalUnitPrice: String(item.price || 0),\n    requiresShipping: true\n  }));\n}\n\n// 2. PHONE - STRICT E.164 VALIDATION\nconst rawPhone = (orderData.phone || '').trim();\nconst phoneDigits = rawPhone.replace(/\\D/g, '');\nlet validPhone = undefined;\n\n// Parse Algerian: 0555123456 -> +213555123456\nlet local = phoneDigits;\nif (local.startsWith('00213')) local = local.substring(5);\nelse if (local.startsWith('213') && local.length > 10) local = local.substring(3);\nelse if (local.startsWith('0') && local.length === 10) local = local.substring(1);\n\nif (local.length === 9 && /^[5-7]/.test(local)) {\n    validPhone = '+213' + local;\n} else if (rawPhone.startsWith('+') && phoneDigits.length >= 10 && phoneDigits.length <= 15) {\n    validPhone = '+' + phoneDigits;\n}\n// If neither, validPhone stays undefined (will be OMITTED)\n\n// 3. NAME & EMAIL\nconst rawName = (orderData.name || '').trim();\nconst parts = rawName.split(' ');\nconst firstName = parts[0] || 'Guest';\nconst lastName = parts.slice(1).join(' ') || '.';\n\nlet email = orderData.email;\nif (!email || email.indexOf('@') < 0) {\n    email = 'guest.' + (validPhone ? validPhone.replace('+','') : Date.now()) + '@generated.local';\n}\n\n// 4. ADDRESS (conditionally include phone)\nconst wilaya = (orderData.wilaya || '').replace(/^\\d+\\s*-\\s*/, '');\nconst commune = orderData.commune || '';\n\nconst shippingAddress = {\n  firstName,\n  lastName,\n  address1: orderData.address || commune || 'N/A',\n  city: commune || wilaya || 'Algeria',\n  province: wilaya,\n  countryCode: 'DZ'\n};\nif (validPhone) shippingAddress.phone = validPhone;\n\n// 5. SHIPPING\nconst shippingLines = [];\nconst shipCost = Number(orderData.shippingPrice) || 0;\nif (shipCost > 0) {\n  shippingLines.push({\n    title: orderData.shippingType === 'desk' ? 'Stop Desk' : 'Home Delivery',\n    priceSet: { shopMoney: { amount: String(shipCost), currencyCode: orderData.currency || 'DZD' } }\n  });\n}\n\n// 6. TAGS & ATTRIBUTES\nconst tags = ['FinalForm', 'COD'];\nif (orderData.shippingType) tags.push(orderData.shippingType);\n\nconst customAttributes = [];\nconst addAttr = (k, v) => { if (v) customAttributes.push({ key: k, value: String(v) }); };\naddAttr('Wilaya', wilaya);\naddAttr('Commune', commune);\naddAttr('Original Phone', rawPhone);\naddAttr('Validated Phone', validPhone || 'OMITTED');\naddAttr('Form ID', orderData.formId);\n\n// 7. ORDER INPUT (conditionally include phone)\nconst orderInput = {\n  order: {\n    lineItems,\n    shippingLines,\n    shippingAddress,\n    billingAddress: shippingAddress,\n    email,\n    note: orderData.note || '',\n    customAttributes,\n    tags,\n    financialStatus: 'PENDING'\n  },\n  options: { inventoryBehaviour: 'BYPASS' }\n};\nif (validPhone) orderInput.order.phone = validPhone;\n\n// 8. QUERY\nconst query = `mutation orderCreate($order: OrderCreateOrderInput!, $options: OrderCreateOptionsInput) {\n  orderCreate(order: $order, options: $options) {\n    order { id name legacyResourceId }\n    userErrors { field message }\n  }\n}`;\n\nreturn [{ json: { graphqlQuery: query, graphqlVariables: orderInput, store, orderData, debug: { rawPhone, validPhone } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9120,
        1648
      ],
      "id": "ef0cb26b-35c9-4167-a5e1-b8254e4704b5",
      "name": "Build Mutation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.store.subdomain }}.myshopify.com/admin/api/2024-01/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.store.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.graphqlQuery, variables: $json.graphqlVariables }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8928,
        1648
      ],
      "id": "9a99b322-af16-4718-b21c-9846a8fda338",
      "name": "Shopify API",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Response\nconst input = $input.first().json;\nconst orderData = $('Build Mutation').first().json.orderData;\n\nif (input.errors) {\n   return [{ json: { success: false, errorType: 'GRAPHQL_SYSTEM', errors: input.errors.map(e => e.message) } }];\n}\n\nconst result = input.data?.orderCreate;\nif (!result) {\n   return [{ json: { success: false, errorType: 'NO_DATA', errors: ['No data returned from Shopify'] } }];\n}\n\nif (result.userErrors && result.userErrors.length > 0) {\n   return [{ json: { success: false, errorType: 'USER_ERROR', errors: result.userErrors.map(e => e.field.join('.') + ': ' + e.message) } }];\n}\n\nconst order = result.order;\nreturn [{\n  json: {\n    success: true,\n    orderId: order.name,\n    shopifyId: order.id,\n    legacyId: order.legacyResourceId,\n    message: 'Order created successfully'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8720,
        1648
      ],
      "id": "435f78eb-0348-4df8-b6d2-ae9857ca9811",
      "name": "Parse Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8528,
        1648
      ],
      "id": "f73d42c2-55ed-414b-b0d7-660a422c6f98",
      "name": "If Success"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -8320,
        1648
      ],
      "id": "0f98be9c-bad1-4f60-bb84-58d1724ad47a",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-google-sheet",
              "leftValue": "={{ $('Receive Order').first().json.body.googleSheetConfig?.scriptUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8320,
        1424
      ],
      "id": "12deee54-b094-4f5e-8b24-df22c69e7240",
      "name": "Check Google Sheet"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Receive Order').first().json.body.googleSheetConfig.scriptUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Receive Order').first().json.body.sheetPayload ? $('Receive Order').first().json.body.sheetPayload : { ...$('Receive Order').first().json.body, orderId: $('Receive Order').first().json.body.orderId, sheetName: $('Receive Order').first().json.body.googleSheetConfig.sheetName, abandonedSheetName: $('Receive Order').first().json.body.googleSheetConfig.abandonedSheetName, action: $('Receive Order').first().json.body.status || 'order' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8096,
        1424
      ],
      "id": "6b5046c4-6f8f-45ff-b7a3-358bf27cb68e",
      "name": "Google Sheet API",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"errors\": {{ JSON.stringify($json.errors || [$json.error]) }}\n}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -8528,
        2016
      ],
      "id": "c456a797-5261-48e8-83fd-2fb6ff2f80bf",
      "name": "Respond Error"
    },
    {
      "parameters": {
        "workflowId": "tQGZLn60N0E_a0OkBkRb_",
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -9952,
        2016
      ],
      "id": "f8211da4-56ce-48c7-a07e-a2881cefd395",
      "name": "Trigger CAPI Workflow"
    },
    {
      "parameters": {
        "workflowId": "iUfbE1mb04UPBL_S1OKDq",
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -9744,
        2016
      ],
      "id": "4b5882fa-2c90-4182-9db1-32f7f59fed35",
      "name": "Trigger TikTok CAPI Workflow"
    }
  ],
  "connections": {
    "Receive Order": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Get Stores",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger CAPI Workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger TikTok CAPI Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stores": {
      "main": [
        [
          {
            "node": "Find Store Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Store Credentials": {
      "main": [
        [
          {
            "node": "Store Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Found?": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Check Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Mutation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mutation": {
      "main": [
        [
          {
            "node": "Shopify API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify API": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Google Sheet": {
      "main": [
        [
          {
            "node": "Google Sheet API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
  }
}