src/workflows-temp/Shopify_Master_Form_Sync_REST.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/master-sync",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -6448,
        224
      ],
      "id": "e5123631-21b3-4921-bb6f-fd63f62a263d",
      "name": "Webhook Start",
      "webhookId": "master-sync-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse request and build shop domain\nconst body = $input.first().json.body;\nconst subdomain = body.subdomain;\nconst shopDomain = subdomain + '.myshopify.com';\nconst action = body.action || 'save';\nconst ownerId = body.ownerId;\nconst configData = body.data;\nconst clientId = body.clientId;\nconst clientSecret = body.clientSecret;\n\nreturn [{ json: { \n  subdomain, \n  shopDomain,\n  action,\n  ownerId,\n  configData,\n  clientId,\n  clientSecret\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6208,
        224
      ],
      "id": "7e609359-585c-44ed-b138-8fd695f817f6",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "resource": "table",
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -5968,
        224
      ],
      "id": "d96afd73-fb6c-48d2-91de-8181976c9fc7",
      "name": "List data tables",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "name",
        "include": "selectedOtherFields",
        "fieldsToInclude": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -5728,
        224
      ],
      "id": "2b5596a8-d57b-4d88-95bc-96bd4942e0c3",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "table-exists",
              "leftValue": "={{ $json.name }}",
              "rightValue": "stores",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5488,
        224
      ],
      "id": "d2c8ee67-f6ea-455c-88c6-83280e1c67a2",
      "name": "If Table exists"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -5248,
        128
      ],
      "id": "38cb7ea1-2fc0-4516-92d5-039e1d55b581",
      "name": "Get Store Credentials",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find matching store and verify credentials\nconst rows = $input.all();\nconst req = $('Parse Request').first().json;\n\nconst store = rows.find(r => r.json.shopDomain === req.shopDomain);\n\nif (store) {\n  const storedClientId = store.json.clientId;\n  const storedClientSecret = store.json.clientSecret;\n  \n  // Strict Credential Check\n  if (storedClientId === req.clientId && storedClientSecret === req.clientSecret) {\n    return [{ json: { \n      found: true, \n      rowId: store.id,\n      config: store.json.config,\n      subdomain: req.subdomain, \n      accessToken: store.json.accessToken,\n      action: req.action,\n      ownerId: req.ownerId,\n      configData: req.configData\n    } }];\n  }\n}\n\nreturn [{ json: { found: false, subdomain: req.subdomain, error: 'Invalid credentials or store not found' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5008,
        128
      ],
      "id": "9f3aa42d-1bfb-4c85-b3fb-e304fb78f27f",
      "name": "Find Store"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "found-check",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4768,
        128
      ],
      "id": "9a9577c6-0468-41c9-8b53-d18f50028113",
      "name": "Credentials Found?"
    },
    {
      "parameters": {
        "jsCode": "// Prepare Config Update\nconst req = $input.first().json;\n\n// Current Config from Data Table\nlet currentConfig = {};\ntry {\n  currentConfig = req.config ? JSON.parse(req.config) : {};\n} catch (e) {\n  currentConfig = {};\n}\n\n// Initialize structure if needed\nif (!currentConfig.shopConfig) currentConfig.shopConfig = null;\nif (!currentConfig.productConfigs) currentConfig.productConfigs = {};\n\nconst action = req.action || 'save';\nconst configData = req.configData;\nconst ownerId = req.ownerId;\n\n// Update Logic\nif (ownerId && String(ownerId).match(/^\\d+$/)) {\n  // Product Level\n  const productId = String(ownerId);\n  if (action === 'delete') {\n    delete currentConfig.productConfigs[productId];\n  } else {\n    currentConfig.productConfigs[productId] = configData;\n  }\n} else {\n  // Shop Level\n  if (action === 'delete') {\n    currentConfig.shopConfig = null;\n  } else {\n    currentConfig.shopConfig = configData;\n  }\n}\n\nconst newConfigString = JSON.stringify(currentConfig);\n\nreturn [{\n  json: {\n    rowId: req.rowId,\n    newConfigString\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4528,
        16
      ],
      "id": "0b462e26-e31e-459a-9593-57070c7304df",
      "name": "Prepare Context"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('If Table exists').first().json.id }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.rowId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "config": "={{ $json.newConfigString }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "storeId",
              "displayName": "storeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "shopDomain",
              "displayName": "shopDomain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subdomain",
              "displayName": "subdomain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "clientId",
              "displayName": "clientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "clientSecret",
              "displayName": "clientSecret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "accessToken",
              "displayName": "accessToken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "shopName",
              "displayName": "shopName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "config",
              "displayName": "config",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -4288,
        128
      ],
      "id": "8e56f26a-664d-42b0-b8f3-e7a20d86b82a",
      "name": "Update Config in Table",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"data\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -3088,
        128
      ],
      "id": "0e65fe82-b027-4957-ac4b-b24d8b5c1a15",
      "name": "Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || $json.message || 'Operation failed' }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -3088,
        320
      ],
      "id": "da0d2cd7-f756-47d8-bbcd-352417326dc7",
      "name": "Error Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Store not connected. Please connect your store first.\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -4528,
        224
      ],
      "id": "5bc5a2c0-6b2f-4f1e-8352-9f61254bdfb2",
      "name": "No Credentials Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Store credentials table not found. Please connect your store first.\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -5248,
        320
      ],
      "id": "e6f41228-6a65-46f0-817e-c348f29ef8b7",
      "name": "No Table Error"
    }
  ],
  "connections": {
    "Webhook Start": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "List data tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List data tables": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If Table exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Table exists": {
      "main": [
        [
          {
            "node": "Get Store Credentials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Table Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Credentials": {
      "main": [
        [
          {
            "node": "Find Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Store": {
      "main": [
        [
          {
            "node": "Credentials Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials Found?": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Credentials Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Update Config in Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Config in Table": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
  }
}