src/workflows-temp/Shopify_Delete_Config.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/delete-config",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -10320,
        192
      ],
      "id": "4a5fd03e-4296-400f-b07a-840ff3e5bef9",
      "name": "Webhook",
      "webhookId": "delete-config-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse request body\nconst body = $input.first().json.body;\n\nconst shopDomain = body.shopDomain;\nconst clientId = body.clientId;\nconst clientSecret = body.clientSecret;\n\n// Use productId (new) or ownerId (legacy fallback)\nlet productId = body.productId || body.ownerId || '';\nif (!productId || productId === 'null' || productId === 'undefined') {\n  productId = '';\n} else {\n  productId = String(productId).trim();\n  // Strip GID prefix if present (backwards compat)\n  const gidMatch = productId.match(/^gid:\\/\\/shopify\\/Product\\/(.+)$/);\n  if (gidMatch) productId = gidMatch[1];\n}\n\nif (!shopDomain || !clientId || !clientSecret) {\n  return [{ json: { error: 'Missing required credentials', valid: false } }];\n}\n\n// Determine target table\nconst isProductLevel = productId !== '';\n\nreturn [{ json: {\n  valid: true,\n  shopDomain,\n  clientId,\n  clientSecret,\n  productId,\n  isProductLevel\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10080,
        192
      ],
      "id": "3337769d-9d86-4fc2-b007-8bcc4d96ded6",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9840,
        192
      ],
      "id": "acfa467c-798f-478d-af36-28db2a5e1532",
      "name": "If Valid"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "stores",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -9600,
        96
      ],
      "id": "3f39008b-df76-4de0-b366-7d5e29a9cca1",
      "name": "Get Stores",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find store and verify credentials\nconst rows = $input.all();\nconst req = $('Parse Request').first().json;\n\nconst store = rows.find(r => r.json.shopDomain === req.shopDomain);\n\nif (!store) {\n  return [{ json: { found: false, error: 'Store not found' } }];\n}\n\nif (store.json.clientId !== req.clientId || store.json.clientSecret !== req.clientSecret) {\n  return [{ json: { found: false, error: 'Invalid credentials' } }];\n}\n\nreturn [{ json: {\n  found: true,\n  storeId: store.json.storeId,\n  productId: req.productId,\n  isProductLevel: req.isProductLevel\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9360,
        96
      ],
      "id": "a1e62987-8ea0-4b9b-bcb1-a28295ce7702",
      "name": "Verify Store"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "store-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9120,
        96
      ],
      "id": "b3805683-979f-449f-b6b4-1e9d980b2275",
      "name": "If Store Found"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-product-level",
              "leftValue": "={{ $json.isProductLevel }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8880,
        96
      ],
      "id": "d2b3c99d-b9e1-42cc-92d1-6cf361a45fd9",
      "name": "Is Product Level?"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "product_configs",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -8640,
        0
      ],
      "id": "7cd069de-f648-4aa9-9d7d-b71cd66b2ef5",
      "name": "Get Product Configs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find product config to delete\nconst rows = $input.all();\nconst verifyData = $('Verify Store').first().json;\nconst storeId = verifyData.storeId;\nconst productId = verifyData.productId;\n\nconst config = rows.find(r =>\n  r.json.storeId === storeId && r.json.productId === productId\n);\n\nif (config) {\n  return [{ json: { found: true, id: config.json.id, storeId, productId } }];\n}\n\nreturn [{ json: { found: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8400,
        0
      ],
      "id": "636cd838-3291-4ea2-9ed7-3796e451788f",
      "name": "Find Product Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "config-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8160,
        0
      ],
      "id": "a325abff-80d7-4341-a6e9-1147f562e23c",
      "name": "If Product Config Found"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "matchType": "allConditions",
        "dataTableId": {
          "__rl": true,
          "value": "product_configs",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "productId",
              "keyValue": "={{ $json.productId }}"
            },
            {
              "keyName": "storeId",
              "keyValue": "={{ $json.storeId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -7920,
        -80
      ],
      "id": "7da19cea-1671-4823-be80-cc2de754a767",
      "name": "Delete Product Config"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "store_configs",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -8640,
        192
      ],
      "id": "c755ef84-0e84-4a7a-b540-3cb8c717ee87",
      "name": "Get Store Configs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find store config to delete\nconst rows = $input.all();\nconst verifyData = $('Verify Store').first().json;\nconst storeId = verifyData.storeId;\n\nconst config = rows.find(r => r.json.storeId === storeId);\n\nif (config) {\n  return [{ json: { found: true, id: config.json.id, storeId } }];\n}\n\nreturn [{ json: { found: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8400,
        192
      ],
      "id": "1ecf5ea1-aab8-4aee-a219-ab9c2e12ccdc",
      "name": "Find Store Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "config-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8160,
        192
      ],
      "id": "1ff437f5-248a-4bc7-8631-c2e41fde8bce",
      "name": "If Store Config Found"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "store_configs",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "storeId",
              "keyValue": "={{ $json.storeId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -7920,
        128
      ],
      "id": "5193e958-6e4d-4139-8c0b-0a6b79faf12a",
      "name": "Delete Store Config"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -7680,
        64
      ],
      "id": "8d8168c3-05aa-44a8-a065-b7ed72985782",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || 'Unknown error' }) }}",
        "options": {
          "responseCode": "400",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -9600,
        288
      ],
      "id": "561f203a-20cf-4f1c-bcf4-9c9fc81cffc9",
      "name": "Respond Error"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "If Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid": {
      "main": [
        [
          {
            "node": "Get Stores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stores": {
      "main": [
        [
          {
            "node": "Verify Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Store": {
      "main": [
        [
          {
            "node": "If Store Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Store Found": {
      "main": [
        [
          {
            "node": "Is Product Level?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Product Level?": {
      "main": [
        [
          {
            "node": "Get Product Configs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Store Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product Configs": {
      "main": [
        [
          {
            "node": "Find Product Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Product Config": {
      "main": [
        [
          {
            "node": "If Product Config Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Product Config Found": {
      "main": [
        [
          {
            "node": "Delete Product Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Product Config": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Configs": {
      "main": [
        [
          {
            "node": "Find Store Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Store Config": {
      "main": [
        [
          {
            "node": "If Store Config Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Store Config Found": {
      "main": [
        [
          {
            "node": "Delete Store Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Store Config": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
  }
}