src/workflows-temp/shopify-enable-loader.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/enable-loader",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-768, -352],
      "id": "1509cf63-d790-4ad6-b433-55bfe96433d3",
      "name": "Receive Enable Request",
      "webhookId": "enable-loader-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.body.subdomain }}.myshopify.com/admin/oauth/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $json.body.clientId }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.body.clientSecret }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-544, -352],
      "id": "e9d250cd-23e0-4ff7-a74a-839020eea032",
      "name": "Get Access Token",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"mutation CreateProductMetafieldDef { metafieldDefinitionCreate(definition: { name: \\\"FinalForm Config\\\", namespace: \\\"finalform\\\", key: \\\"config\\\", type: \\\"json\\\", ownerType: PRODUCT, access: { storefront: PUBLIC_READ } }) { createdDefinition { id } userErrors { field message } } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-304, -450],
      "id": "create-product-metafield-def",
      "name": "Create Product Metafield Definition",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"mutation CreateShopMetafieldDef { metafieldDefinitionCreate(definition: { name: \\\"FinalForm Config\\\", namespace: \\\"finalform\\\", key: \\\"config\\\", type: \\\"json\\\", ownerType: SHOP, access: { storefront: PUBLIC_READ } }) { createdDefinition { id } userErrors { field message } } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-64, -450],
      "id": "create-shop-metafield-def",
      "name": "Create Shop Metafield Definition",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/storefront_access_tokens.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"storefront_access_token\":{\"title\":\"FinalForm Loader\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [176, -450],
      "id": "1517abbb-1fe4-4126-806e-5e244e593a0e",
      "name": "Create SF Token",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script_tag\": {\n    \"event\": \"onload\",\n    \"src\": \"https://finalformfunnel.web.app/finalform-loader.js?sf_token={{ $json.storefront_access_token.access_token }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [416, -450],
      "id": "91a5fa60-6d27-40a1-96f7-bed66ee43ea3",
      "name": "Inject Script Tag",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"version\": \"1.1.0\",\n  \"alreadyInstalled\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [656, -450],
      "id": "a01c80ca-edd1-4d09-ab80-620824471dc3",
      "name": "Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.message || 'Error configuring loader' }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [176, -224],
      "id": "1d93470c-3303-4bf5-8530-8b8bd0e28859",
      "name": "Error Response"
    }
  ],
  "connections": {
    "Receive Enable Request": {
      "main": [
        [
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "Create Product Metafield Definition",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product Metafield Definition": {
      "main": [
        [
          {
            "node": "Create Shop Metafield Definition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Shop Metafield Definition": {
      "main": [
        [
          {
            "node": "Create SF Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SF Token": {
      "main": [
        [
          {
            "node": "Inject Script Tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Script Tag": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "587aef964d83a99e849af5b6a53cd904631a6643f9c8db8007015f2aa820bf9d"
  }
}
