src/workflows-temp/Shopify_Submit_Order.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-order",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3264,
        272
      ],
      "id": "1796d9bb-7391-433f-be0c-96884cf63825",
      "name": "Receive Order",
      "webhookId": "order-submit-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse and structure the order data\nconst body = $input.first().json.body || {};\n\n// Basic Validation\nconst errors = [];\nif (!body.shopDomain) errors.push('Missing shopDomain');\nif (!body.items || !body.items.length) errors.push('Missing items');\nif (!body.name) errors.push('Missing name');\nif (!body.phone) errors.push('Missing phone');\n\nif (errors.length > 0) {\n  return [{ json: { valid: false, errors, body } }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    shopDomain: body.shopDomain,\n    orderData: body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3040,
        272
      ],
      "id": "f766971a-f570-4e35-b5ef-76f14ce79ba2",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2816,
        272
      ],
      "id": "4b518405-1c4b-48ec-8d02-73cd28e00ddd",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "stores",
          "mode": "name"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -2592,
        176
      ],
      "id": "8b69c374-93e6-48cc-9401-de89cff4d391",
      "name": "Get Stores",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find matching store credential\nconst stores = $input.all().map(i => i.json);\nconst requestData = $('Validate Input').first().json;\nconst shopDomain = requestData.shopDomain;\n\nconst store = stores.find(s => s.shopDomain === shopDomain || s.subdomain === shopDomain.replace('.myshopify.com', ''));\n\nif (!store) {\n  return [{ json: { found: false, error: 'Store not found in database' } }];\n}\n\nif (!store.accessToken) {\n   return [{ json: { found: false, error: 'Store credentials missing (accessToken)' } }];\n}\n\nreturn [{ json: { found: true, store, orderData: requestData.orderData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        176
      ],
      "id": "88aa7bda-a529-4cf5-ad5d-f526879b7d4b",
      "name": "Find Store Credentials"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "store-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2160,
        176
      ],
      "id": "06d421bf-ca9f-4400-a5c2-2fa006a40159",
      "name": "Store Found?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-abandoned",
              "leftValue": "={{ $json.orderData.status }}",
              "rightValue": "abandoned",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1960,
        176
      ],
      "id": "99887766-5544-3322-1100-checkstatus",
      "name": "Check Status"
    },
    {
      "parameters": {
        "jsCode": "// Build Shopify Order GraphQL Mutation\nconst { store, orderData } = $input.first().json;\n\n// 1. LINE ITEMS\nlet lineItems = [];\nconst qty = Number(orderData.quantity) || 1;\n\nif (orderData.variantId) {\n  let vid = String(orderData.variantId);\n  if (!vid.startsWith('gid://')) vid = 'gid://shopify/ProductVariant/' + vid;\n  lineItems.push({ variantId: vid, quantity: qty, requiresShipping: true });\n} else {\n  const items = orderData.items || [{ title: orderData.productTitle || 'Product', price: orderData.totalPrice, quantity: qty }];\n  lineItems = items.map(item => ({\n    title: item.title || 'Product',\n    quantity: Number(item.quantity) || 1,\n    originalUnitPrice: String(item.price || 0),\n    requiresShipping: true\n  }));\n}\n\n// 2. PHONE - STRICT E.164 VALIDATION\nconst rawPhone = (orderData.phone || '').trim();\nconst phoneDigits = rawPhone.replace(/\\D/g, '');\nlet validPhone = undefined;\n\n// Parse Algerian: 0555123456 -> +213555123456\nlet local = phoneDigits;\nif (local.startsWith('00213')) local = local.substring(5);\nelse if (local.startsWith('213') && local.length > 10) local = local.substring(3);\nelse if (local.startsWith('0') && local.length === 10) local = local.substring(1);\n\nif (local.length === 9 && /^[5-7]/.test(local)) {\n    validPhone = '+213' + local;\n} else if (rawPhone.startsWith('+') && phoneDigits.length >= 10 && phoneDigits.length <= 15) {\n    validPhone = '+' + phoneDigits;\n}\n// If neither, validPhone stays undefined (will be OMITTED)\n\n// 3. NAME & EMAIL\nconst rawName = (orderData.name || '').trim();\nconst parts = rawName.split(' ');\nconst firstName = parts[0] || 'Guest';\nconst lastName = parts.slice(1).join(' ') || '.';\n\nlet email = orderData.email;\nif (!email || email.indexOf('@') < 0) {\n    email = 'guest.' + (validPhone ? validPhone.replace('+','') : Date.now()) + '@generated.local';\n}\n\n// 4. ADDRESS (conditionally include phone)\nconst wilaya = (orderData.wilaya || '').replace(/^\\d+\\s*-\\s*/, '');\nconst commune = orderData.commune || '';\n\nconst shippingAddress = {\n  firstName,\n  lastName,\n  address1: orderData.address || commune || 'N/A',\n  city: commune || wilaya || 'Algeria',\n  province: wilaya,\n  countryCode: 'DZ'\n};\nif (validPhone) shippingAddress.phone = validPhone;\n\n// 5. SHIPPING\nconst shippingLines = [];\nconst shipCost = Number(orderData.shippingPrice) || 0;\nif (shipCost > 0) {\n  shippingLines.push({\n    title: orderData.shippingType === 'desk' ? 'Stop Desk' : 'Home Delivery',\n    priceSet: { shopMoney: { amount: String(shipCost), currencyCode: orderData.currency || 'DZD' } }\n  });\n}\n\n// 6. TAGS & ATTRIBUTES\nconst tags = ['FinalForm', 'COD'];\nif (orderData.shippingType) tags.push(orderData.shippingType);\n\nconst customAttributes = [];\nconst addAttr = (k, v) => { if (v) customAttributes.push({ key: k, value: String(v) }); };\naddAttr('Wilaya', wilaya);\naddAttr('Commune', commune);\naddAttr('Original Phone', rawPhone);\naddAttr('Validated Phone', validPhone || 'OMITTED');\naddAttr('Form ID', orderData.formId);\n\n// 7. ORDER INPUT (conditionally include phone)\nconst orderInput = {\n  order: {\n    lineItems,\n    shippingLines,\n    shippingAddress,\n    billingAddress: shippingAddress,\n    email,\n    note: orderData.note || '',\n    customAttributes,\n    tags,\n    financialStatus: 'PENDING'\n  },\n  options: { inventoryBehaviour: 'BYPASS' }\n};\nif (validPhone) orderInput.order.phone = validPhone;\n\n// 8. QUERY\nconst query = `mutation orderCreate($order: OrderCreateOrderInput!, $options: OrderCreateOptionsInput) {\n  orderCreate(order: $order, options: $options) {\n    order { id name legacyResourceId }\n    userErrors { field message }\n  }\n}`;\n\nreturn [{ json: { graphqlQuery: query, graphqlVariables: orderInput, store, orderData, debug: { rawPhone, validPhone } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        96
      ],
      "id": "61aa8c9a-e3b2-476f-9d0c-0954604d2b64",
      "name": "Build Mutation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.store.subdomain }}.myshopify.com/admin/api/2024-01/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.store.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.graphqlQuery, variables: $json.graphqlVariables }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1560,
        96
      ],
      "id": "ffc5f71e-6998-4510-8f20-42b945cf7fa7",
      "name": "Shopify API",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Response\nconst input = $input.first().json;\nconst orderData = $('Build Mutation').first().json.orderData;\n\nif (input.errors) {\n   return [{ json: { success: false, errorType: 'GRAPHQL_SYSTEM', errors: input.errors.map(e => e.message) } }];\n}\n\nconst result = input.data?.orderCreate;\nif (!result) {\n   return [{ json: { success: false, errorType: 'NO_DATA', errors: ['No data returned from Shopify'] } }];\n}\n\nif (result.userErrors && result.userErrors.length > 0) {\n   return [{ json: { success: false, errorType: 'USER_ERROR', errors: result.userErrors.map(e => e.field.join('.') + ': ' + e.message) } }];\n}\n\nconst order = result.order;\nreturn [{\n  json: {\n    success: true,\n    orderId: order.name,\n    shopifyId: order.id,\n    legacyId: order.legacyResourceId,\n    message: 'Order created successfully'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        96
      ],
      "id": "8579eb4d-d179-4518-92c3-4568afef4e1f",
      "name": "Parse Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1160,
        96
      ],
      "id": "5ade3dec-88ff-4f5d-a159-480a62c58f86",
      "name": "If Success"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -960,
        96
      ],
      "id": "9d0b6f14-d4e9-423b-8e4f-2637fd13df72",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-google-sheet",
              "leftValue": "={{ $('Receive Order').first().json.body.googleSheetConfig?.scriptUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -960,
        -128
      ],
      "id": "3955d380-028b-4fa7-a1e1-e3d22ba73ddf",
      "name": "Check Google Sheet"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Receive Order').first().json.body.googleSheetConfig.scriptUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Receive Order').first().json.body.sheetPayload ? $('Receive Order').first().json.body.sheetPayload : { ...$('Receive Order').first().json.body, orderId: $('Receive Order').first().json.body.orderId, sheetName: $('Receive Order').first().json.body.googleSheetConfig.sheetName, abandonedSheetName: $('Receive Order').first().json.body.googleSheetConfig.abandonedSheetName, action: $('Receive Order').first().json.body.status || 'order' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -740,
        -128
      ],
      "id": "148bb754-bbde-44de-9caf-3cce1907f1d8",
      "name": "Google Sheet API",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"errors\": {{ JSON.stringify($json.errors || [$json.error]) }}\n}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1160,
        464
      ],
      "id": "7b2cd4a6-0aa4-4311-b860-341a974e0874",
      "name": "Respond Error"
    }
  ],
  "connections": {
    "Receive Order": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Get Stores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stores": {
      "main": [
        [
          {
            "node": "Find Store Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Store Credentials": {
      "main": [
        [
          {
            "node": "Store Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Found?": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Check Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Mutation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mutation": {
      "main": [
        [
          {
            "node": "Shopify API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify API": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Google Sheet": {
      "main": [
        [
          {
            "node": "Google Sheet API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}