src/workflows-temp/Shopify_Connect.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/connect",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -15744,
        272
      ],
      "id": "765b9dd8-bd86-4fc7-9f60-6324ccda8e2c",
      "name": "Receive Connect Request",
      "webhookId": "shopify-connect-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.body.subdomain }}.myshopify.com/admin/oauth/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $json.body.clientId }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.body.clientSecret }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -15504,
        272
      ],
      "id": "bfb7912f-e957-483f-bbd8-8e40ae1281c6",
      "name": "Get Access Token",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Receive Connect Request').first().json.body.subdomain }}.myshopify.com/admin/api/2024-01/shop.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -15264,
        272
      ],
      "id": "004af621-87a0-4002-a043-026035f935d7",
      "name": "Get Shop Details",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Receive Connect Request').first().json.body.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -15024,
        272
      ],
      "id": "07036381-d2f8-49e6-8331-b69796b1259d",
      "name": "Check Existing ScriptTags",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "action": "generate"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -14784,
        272
      ],
      "id": "675555be-65f1-4fa1-92c0-c253f322aa06",
      "name": "Crypto"
    },
    {
      "parameters": {
        "jsCode": "// Build the success response with proper JSON structure\n// After Crypto node, we need .first().json to access upstream nodes\nconst shopData = $('Get Shop Details').first().json.shop;\nconst accessToken = $('Get Access Token').first().json.access_token;\nconst scriptTags = $('Check Existing ScriptTags').first().json.script_tags || [];\n\n// Prepare data for storage\nconst subdomain = $('Receive Connect Request').first().json.body.subdomain;\nconst clientId = $('Receive Connect Request').first().json.body.clientId;\nconst clientSecret = $('Receive Connect Request').first().json.body.clientSecret;\n\n// Use the UUID generated by the Crypto node (output is in 'data' field)\nconst storeId = $('Crypto').first().json.data;\n\n// Find FinalForm loader script tag\nconst loaderTag = scriptTags.find(t => \n  t.src && (t.src.includes('finalform'))\n);\n\nconst loaderInstalled = !!loaderTag;\n\n// Extract version from URL if present\nlet loaderVersion = null;\nif (loaderTag && loaderTag.src) {\n  const versionMatch = loaderTag.src.match(/[?&]v(?:ersion)?=([0-9]+\\.[0-9]+\\.[0-9]+)/);\n  if (versionMatch) {\n    loaderVersion = versionMatch[1];\n  }\n}\n\nreturn [{\n  json: {\n    success: true,\n    shop: shopData,\n    loaderInstalled: loaderInstalled,\n    loaderVersion: loaderVersion,\n    loaderScriptTagId: loaderTag ? loaderTag.id.toString() : null,\n    accessToken: accessToken,\n    // Store data for data table\n    storeData: {\n      storeId: storeId, // UUID from Crypto node\n      shopDomain: subdomain + '.myshopify.com',\n      subdomain: subdomain,\n      clientId: clientId,\n      clientSecret: clientSecret,\n      accessToken: accessToken,\n      shopName: shopData?.name || subdomain,\n      createdAt: new Date().toISOString()\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14544,
        272
      ],
      "id": "4ecca447-6bb6-4858-b8b0-abfb301e5a38",
      "name": "Format Success Response"
    },
    {
      "parameters": {
        "resource": "table",
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -14576,
        560
      ],
      "id": "cb81af01-719a-4a2c-a8ad-955f00cdb2e0",
      "name": "List data tables",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "name",
        "include": "selectedOtherFields",
        "fieldsToInclude": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -14304,
        272
      ],
      "id": "30237a52-6294-4d40-9eda-43633be299a6",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "table-exists",
              "leftValue": "={{ $json.name }}",
              "rightValue": "stores",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -14064,
        272
      ],
      "id": "f8a04bac-924f-4f3c-9af5-2d654b23b62e",
      "name": "If Table exists"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "stores",
        "columns": {
          "column": [
            {
              "name": "storeId"
            },
            {
              "name": "shopDomain"
            },
            {
              "name": "subdomain"
            },
            {
              "name": "clientId"
            },
            {
              "name": "clientSecret"
            },
            {
              "name": "accessToken"
            },
            {
              "name": "shopName"
            },
            {
              "name": "config"
            },
            {
              "name": "userId"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -13824,
        416
      ],
      "id": "d3f728fe-a5ba-4296-81da-c298a21a41aa",
      "name": "Create a data table"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -13824,
        128
      ],
      "id": "ba48ad0a-9471-412c-9aca-3d069b699119",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Check if store already exists\nconst rows = $input.all();\nconst req = $('Receive Connect Request').first().json.body;\nconst shopDomain = $('Format Success Response').first().json.storeData.shopDomain;\nconst currentUserId = req.userId;\n\nconst existingRow = rows.find(row => row.json.shopDomain === shopDomain);\n\nif (existingRow) {\n  const rowUserId = existingRow.json.userId;\n  const storeId = existingRow.json.storeId;\n  // Enforce ownership: If row has userId and it doesn't match current request -> Error\n  if (rowUserId && currentUserId && rowUserId !== currentUserId) {\n     return [{ json: { error: 'Store already connected to another account', exists: true, accessDenied: true } }];\n  }\n  return [{ json: { exists: true, rowId: existingRow.json.id, storeId: storeId, shopDomain, userId: currentUserId } }];\n}\n\nreturn [{ json: { exists: false, shopDomain, userId: currentUserId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13584,
        128
      ],
      "id": "176abe0a-cb6d-4036-91b6-83c8fbbc0dd9",
      "name": "Check Row Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "row-exists-check",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -13344,
        128
      ],
      "id": "8465b372-6f59-4f83-8d2c-86d84d8dd4cb",
      "name": "If row exists"
    },
    {
      "parameters": {
        "jsCode": "// Prepare row data for update\nconst storeData = $('Format Success Response').first().json.storeData;\nconst rowExistsData = $('If row exists').first().json;\nconst rowId = rowExistsData.rowId;\nconst userId = rowExistsData.userId;\n\nreturn [{\n  json: {\n    id: rowId,\n    accessToken: storeData.accessToken,\n    shopName: storeData.shopName,\n    updatedAt: new Date().toISOString(),\n    ...(userId ? { userId } : {}) // Update userId if provided (claim ownership if empty? or just consistency)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13104,
        32
      ],
      "id": "5a4a9e25-1efe-48d7-a979-f412291e45df",
      "name": "Prepare Update Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "stores",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "accessToken": "={{ $json.accessToken }}",
            "shopName": "={{ $json.shopName }}",
            "userId": "={{ $json.userId }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -12864,
        32
      ],
      "id": "bb945062-0ff0-4743-860e-e553a0b6a078",
      "name": "Update row"
    },
    {
      "parameters": {
        "jsCode": "// Prepare row data for insertion\nconst storeData = $('Format Success Response').first().json.storeData;\nconst userId = $('Receive Connect Request').first().json.body.userId;\n\nreturn [{\n  json: {\n    storeId: storeData.storeId,\n    shopDomain: storeData.shopDomain,\n    subdomain: storeData.subdomain,\n    clientId: storeData.clientId,\n    clientSecret: storeData.clientSecret,\n    accessToken: storeData.accessToken,\n    shopName: storeData.shopName,\n    createdAt: storeData.createdAt,\n    userId: userId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13104,
        416
      ],
      "id": "ad8ddd5a-64b0-481d-b460-ac850442ba6f",
      "name": "Prepare Insert Data"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "stores",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "storeId": "={{ $json.storeId }}",
            "shopDomain": "={{ $json.shopDomain }}",
            "subdomain": "={{ $json.subdomain }}",
            "clientId": "={{ $json.clientId }}",
            "clientSecret": "={{ $json.clientSecret }}",
            "accessToken": "={{ $json.accessToken }}",
            "shopName": "={{ $json.shopName }}",
            "userId": "={{ $json.userId }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -12864,
        416
      ],
      "id": "58727adc-cbfa-4fd0-8373-59e8512904b3",
      "name": "Insert row"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || $json.message || 'Failed to retrieve shop details' }}\"\n}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -15264,
        496
      ],
      "id": "0f2dfd41-18f8-494e-ba0c-cff9559e4310",
      "name": "Shop Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || $json.message || 'Connection failed. Please verify your credentials.' }}\"\n}",
        "options": {
          "responseCode": "={{ $json.accessDenied ? 403 : 401 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -15504,
        496
      ],
      "id": "f20c9620-5485-4c74-af52-d9ed75e5631c",
      "name": "Return Error"
    },
    {
      "parameters": {
        "jsCode": "// Return final success response\nconst responseData = $('Format Success Response').first().json;\n\n// Safely check if Check Row Exists was executed (only when table existed)\nlet existingRow = null;\ntry {\n  existingRow = $('Check Row Exists').first().json;\n} catch (e) {\n  // Node wasn't executed (new table was created)\n  existingRow = null;\n}\n\n// If row existed and has storeId, use it; otherwise use the newly generated one\nconst finalStoreId = (existingRow && existingRow.exists && existingRow.storeId)\n  ? existingRow.storeId\n  : responseData.storeData.storeId;\n\nreturn [{\n  json: {\n    success: responseData.success,\n    storeId: finalStoreId,\n    shop: responseData.shop,\n    loaderInstalled: responseData.loaderInstalled,\n    loaderVersion: responseData.loaderVersion,\n    loaderScriptTagId: responseData.loaderScriptTagId,\n    accessToken: responseData.accessToken,\n    credentialsStored: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12624,
        272
      ],
      "id": "10122dc0-fba3-4ace-9c61-189af66cc71c",
      "name": "Final Response"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -12384,
        272
      ],
      "id": "78ceb285-f085-49ab-a10d-6e1a314fc36f",
      "name": "Return Success"
    }
  ],
  "connections": {
    "Receive Connect Request": {
      "main": [
        [
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "Get Shop Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shop Details": {
      "main": [
        [
          {
            "node": "Check Existing ScriptTags",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Shop Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing ScriptTags": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "List data tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List data tables": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If Table exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Table exists": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a data table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a data table": {
      "main": [
        [
          {
            "node": "Prepare Insert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Check Row Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Row Exists": {
      "main": [
        [
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "Prepare Update Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Insert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Data": {
      "main": [
        [
          {
            "node": "Update row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Insert Data": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Response": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
  }
}