src/workflows-temp/Shopify_Enable_Loader.json
{
  "name": "Shopify Enable Loader",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/enable-loader",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -864,
        64
      ],
      "id": "72e709d3-dd44-465b-9fa8-645c6aeafaa7",
      "name": "Receive Enable Request",
      "webhookId": "enable-loader-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.body.subdomain }}.myshopify.com/admin/oauth/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $json.body.clientId }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.body.clientSecret }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -640,
        64
      ],
      "id": "70fa6dff-0d4e-430d-97d9-c2d21404cbff",
      "name": "Get Access Token",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        64
      ],
      "id": "fa441730-c704-4ce2-8d72-bf5c03f7523e",
      "name": "Check Existing Scripts",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const CURRENT_VERSION = '1.1.0';\nconst scriptTags = $input.first().json.script_tags || [];\nconst accessToken = $('Get Access Token').item.json.access_token;\n\n// Find existing FinalForm loader\nconst loaderTag = scriptTags.find(t => \n  t.src && (t.src.includes('finalform'))\n);\n\nif (loaderTag) {\n  // Extract version from URL\n  let existingVersion = null;\n  const versionMatch = loaderTag.src.match(/[?&]v(?:ersion)?=([0-9]+\\.[0-9]+\\.[0-9]+)/);\n  if (versionMatch) {\n    existingVersion = versionMatch[1];\n  }\n  \n  if (existingVersion === CURRENT_VERSION) {\n    // Already installed with same version\n    return [{\n      json: {\n        action: 'already_installed',\n        scriptTagId: loaderTag.id.toString(),\n        version: existingVersion,\n        accessToken\n      }\n    }];\n  } else {\n    // Needs upgrade - delete old, create new\n    return [{\n      json: {\n        action: 'upgrade',\n        oldScriptTagId: loaderTag.id.toString(),\n        oldVersion: existingVersion,\n        newVersion: CURRENT_VERSION,\n        accessToken\n      }\n    }];\n  }\n} else {\n  // No loader installed - proceed with installation\n  return [{\n    json: {\n      action: 'install',\n      version: CURRENT_VERSION,\n      accessToken\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        64
      ],
      "id": "fc51a21a-c98e-445d-8026-22abbe8267e8",
      "name": "Check Loader Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "already-installed",
              "leftValue": "={{ $json.action }}",
              "rightValue": "already_installed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        64
      ],
      "id": "7e3449e0-5b8d-4454-b467-915e52cfb93a",
      "name": "Already Installed?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"version\": \"{{ $json.version }}\",\n  \"alreadyInstalled\": true,\n  \"scriptTagId\": \"{{ $json.scriptTagId }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        320,
        -96
      ],
      "id": "75d4452e-a441-4d42-9869-9f8f45dde900",
      "name": "Already Installed Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-upgrade",
              "leftValue": "={{ $json.action }}",
              "rightValue": "upgrade",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        64
      ],
      "id": "700b9249-477c-439e-b718-ceda0474f684",
      "name": "Needs Upgrade?"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/script_tags/{{ $json.oldScriptTagId }}.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        -96
      ],
      "id": "d64e1a29-1240-4157-92c3-a6a3b1ed75f2",
      "name": "Delete Old Script Tag",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"mutation CreateProductMetafieldDef { metafieldDefinitionCreate(definition: { name: \\\"FinalForm Config\\\", namespace: \\\"finalform\\\", key: \\\"config\\\", type: \\\"json\\\", ownerType: PRODUCT, access: { storefront: PUBLIC_READ } }) { createdDefinition { id } userErrors { field message } } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        208
      ],
      "id": "3a541e64-086f-451f-9dbb-6f59982007c3",
      "name": "Create Product Metafield Definition",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"mutation CreateShopMetafieldDef { metafieldDefinitionCreate(definition: { name: \\\"FinalForm Config\\\", namespace: \\\"finalform\\\", key: \\\"config\\\", type: \\\"json\\\", ownerType: SHOP, access: { storefront: PUBLIC_READ } }) { createdDefinition { id } userErrors { field message } } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        208
      ],
      "id": "4e1c7084-ead1-4ce1-b3c3-ce0da0364473",
      "name": "Create Shop Metafield Definition",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/storefront_access_tokens.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"storefront_access_token\":{\"title\":\"FinalForm Loader\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        208
      ],
      "id": "e801b575-6226-40c6-a3df-4688cb42bd7a",
      "name": "Create SF Token",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script_tag\": {\n    \"event\": \"onload\",\n    \"src\": \"https://finalformfunnel.web.app/finalform-loader.prod.js?sf_token={{ $json.storefront_access_token.access_token }}&v=1.1.0\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        208
      ],
      "id": "13aab5f2-9f11-4c8e-b8b0-8800b0e1452f",
      "name": "Inject Script Tag",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"version\": \"1.1.0\",\n  \"alreadyInstalled\": false,\n  \"scriptTagId\": \"{{ $json.script_tag.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1520,
        208
      ],
      "id": "c10b2cf6-1665-4f2a-b7f4-7a658c46fdfb",
      "name": "Success Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/storefront_access_tokens.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"storefront_access_token\":{\"title\":\"FinalForm Loader\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        -96
      ],
      "id": "ff6bb3bc-10ae-4d88-a1b1-17ff87e8f0a8",
      "name": "Create SF Token (Upgrade)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script_tag\": {\n    \"event\": \"onload\",\n    \"src\": \"https://finalformfunnel.web.app/finalform-loader.prod.js?sf_token={{ $json.storefront_access_token.access_token }}&v=1.1.0\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        -96
      ],
      "id": "cc346984-83a0-4d88-9725-c1bf937b40fe",
      "name": "Inject Script Tag (Upgrade)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"version\": \"1.1.0\",\n  \"upgraded\": true,\n  \"scriptTagId\": \"{{ $json.script_tag.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1280,
        -96
      ],
      "id": "5c22f3fb-705e-463d-a85a-5ef05032c8e7",
      "name": "Upgrade Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.message || 'Error configuring loader' }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        416
      ],
      "id": "dc589f3a-4b02-4847-a257-f4946846a6f4",
      "name": "Error Response"
    }
  ],
  "connections": {
    "Receive Enable Request": {
      "main": [
        [
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "Check Existing Scripts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Scripts": {
      "main": [
        [
          {
            "node": "Check Loader Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Loader Status": {
      "main": [
        [
          {
            "node": "Already Installed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Installed?": {
      "main": [
        [
          {
            "node": "Already Installed Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Upgrade?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Upgrade?": {
      "main": [
        [
          {
            "node": "Delete Old Script Tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Product Metafield Definition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Script Tag": {
      "main": [
        [
          {
            "node": "Create SF Token (Upgrade)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SF Token (Upgrade)": {
      "main": [
        [
          {
            "node": "Inject Script Tag (Upgrade)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Script Tag (Upgrade)": {
      "main": [
        [
          {
            "node": "Upgrade Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product Metafield Definition": {
      "main": [
        [
          {
            "node": "Create Shop Metafield Definition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Shop Metafield Definition": {
      "main": [
        [
          {
            "node": "Create SF Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SF Token": {
      "main": [
        [
          {
            "node": "Inject Script Tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Script Tag": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": null
}