src/workflows-temp/shopify-master-sync.json
{
  "name": "Shopify Master Form Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/master-sync",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "webhook-start",
      "name": "Webhook Start"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.body.subdomain }}.myshopify.com/admin/oauth/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $json.body.clientId }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.body.clientSecret }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [220, 0],
      "id": "get-access-token",
      "name": "Get Access Token",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$('Webhook Start').item.json.body.ownerId }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "has-owner-id",
      "name": "Has Owner ID?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Webhook Start').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"query\": \"{ shop { id } }\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [440, 200],
      "id": "get-shop-id",
      "name": "Get Shop ID",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Determine the final owner ID\nconst webhookData = $('Webhook Start').item.json.body;\nconst shopId = $input.first().json.data?.shop?.id;\n\n// Use shop ID from GraphQL response\nconst finalOwnerId = shopId || null;\n\nif (!finalOwnerId) {\n  throw new Error('Could not determine Shop ID');\n}\n\nreturn [{ json: { finalOwnerId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200],
      "id": "set-shop-owner",
      "name": "Set Shop Owner"
    },
    {
      "parameters": {
        "jsCode": "// Format owner ID for product-level assignment\nconst webhookData = $('Webhook Start').item.json.body;\nconst ownerId = webhookData.ownerId;\n\n// Ensure it's a proper GID format\nlet finalOwnerId;\nif (ownerId.startsWith('gid://')) {\n  finalOwnerId = ownerId;\n} else {\n  finalOwnerId = `gid://shopify/Product/${ownerId}`;\n}\n\nreturn [{ json: { finalOwnerId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -100],
      "id": "format-product-owner",
      "name": "Format Product Owner"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook Start').item.json.body.action }}",
              "value2": "delete"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "check-action",
      "name": "Is Delete?"
    },
    {
      "parameters": {
        "jsCode": "// Prepare the GraphQL mutation with properly stringified config\nconst webhookData = $('Webhook Start').item.json.body;\nconst configData = webhookData.data;\nconst finalOwnerId = $input.first().json.finalOwnerId;\n\n// Stringify the config data for the metafield value\nconst configString = JSON.stringify(configData);\n\n// Build the GraphQL request body\nconst requestBody = {\n  query: `mutation metafieldsSet($metafields: [MetafieldsSetInput!]!) {\n    metafieldsSet(metafields: $metafields) {\n      metafields { id }\n      userErrors { field message }\n    }\n  }`,\n  variables: {\n    metafields: [{\n      namespace: \"finalform\",\n      key: \"config\",\n      type: \"json\",\n      value: configString,\n      ownerId: finalOwnerId\n    }]\n  }\n};\n\nreturn [{ json: { requestBody, finalOwnerId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, -100],
      "id": "prepare-metafield-request",
      "name": "Prepare Metafield Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Webhook Start').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1220, -100],
      "id": "set-metafield",
      "name": "Set Metafield",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Webhook Start').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query GetMetafieldId($ownerId: ID!) { node(id: $ownerId) { ... on Product { metafield(namespace: \\\"finalform\\\", key: \\\"config\\\") { id } } ... on Shop { metafield(namespace: \\\"finalform\\\", key: \\\"config\\\") { id } } } }\",\n  \"variables\": {\n    \"ownerId\": \"{{ $json.finalOwnerId }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1000, 200],
      "id": "get-metafield-id",
      "name": "Find Metafield ID",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!($json.data.node.metafield && $json.data.node.metafield.id) }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1220, 200],
      "id": "metafield-exists",
      "name": "Metafield Exists?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Webhook Start').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation metafieldDelete($input: MetafieldDeleteInput!) { metafieldDelete(input: $input) { deletedId userErrors { field message } } }\",\n  \"variables\": {\n    \"input\": {\n      \"id\": \"{{ $json.data.node.metafield.id }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1440, 200],
      "id": "delete-metafield",
      "name": "Delete Metafield",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1660, 0],
      "id": "respond-success",
      "name": "Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n \"success\": true,\n \"message\": \"Nothing to delete\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 400],
      "id": "respond-no-op",
      "name": "No-Op Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || $json.message || $json.data?.metafieldsSet?.userErrors?.[0]?.message || 'Operation failed' }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1660, 400],
      "id": "respond-error",
      "name": "Error Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || $json.message || 'Authentication failed' }}\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 400],
      "id": "respond-auth-error",
      "name": "Auth Error Response"
    }
  ],
  "connections": {
    "Webhook Start": {
      "main": [
        [
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "Has Owner ID?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Owner ID?": {
      "main": [
        [
          {
            "node": "Format Product Owner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Shop ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shop ID": {
      "main": [
        [
          {
            "node": "Set Shop Owner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Shop Owner": {
      "main": [
        [
          {
            "node": "Is Delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Product Owner": {
      "main": [
        [
          {
            "node": "Is Delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Delete?": {
      "main": [
        [
          {
            "node": "Find Metafield ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Metafield Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Metafield Request": {
      "main": [
        [
          {
            "node": "Set Metafield",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Metafield": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Metafield ID": {
      "main": [
        [
          {
            "node": "Metafield Exists?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metafield Exists?": {
      "main": [
        [
          {
            "node": "Delete Metafield",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No-Op Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Metafield": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
