src/workflows-temp/Shopify_Save_Config.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/save-config",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -17120,
        2544
      ],
      "id": "3c96ed0a-52f8-4695-a9c2-b65f3e132af1",
      "name": "Webhook",
      "webhookId": "save-config-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse request body\nconst body = $input.first().json.body;\n\nconst shopDomain = body.shopDomain;\nconst clientId = body.clientId;\nconst clientSecret = body.clientSecret;\nconst formId = body.formId;\nconst formData = body.formData;\n\n// Use productId (new) or ownerId (legacy fallback)\nlet productId = body.productId || body.ownerId || '';\nif (!productId || productId === 'null' || productId === 'undefined') {\n  productId = '';\n} else {\n  productId = String(productId).trim();\n  // Strip GID prefix if present (backwards compat)\n  const gidMatch = productId.match(/^gid:\\/\\/shopify\\/Product\\/(.+)$/);\n  if (gidMatch) productId = gidMatch[1];\n}\n\n// Validate required fields\nif (!shopDomain || !clientId || !clientSecret) {\n  return [{ json: { error: 'Missing required credentials', valid: false } }];\n}\n\nif (!formId) {\n  return [{ json: { error: 'Missing formId', valid: false } }];\n}\n\nif (!formData) {\n  return [{ json: { error: 'Missing formData', valid: false } }];\n}\n\n// Determine target table\nconst isProductLevel = productId !== '';\n\nreturn [{ json: {\n  valid: true,\n  shopDomain,\n  clientId,\n  clientSecret,\n  productId,\n  formId: String(formId),\n  formData: typeof formData === 'string' ? formData : JSON.stringify(formData),\n  isProductLevel\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16880,
        2544
      ],
      "id": "061e265d-e462-4510-9dcb-90ccc8e4acb9",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16640,
        2544
      ],
      "id": "1eb8ddee-20c7-496f-8cfa-57adbabea507",
      "name": "If Valid"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "stores",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -16400,
        2448
      ],
      "id": "46eecd77-a123-4b6b-8566-30c5c16a0839",
      "name": "Get Stores",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find store and verify credentials\nconst rows = $input.all();\nconst req = $('Parse Request').first().json;\n\nconst store = rows.find(r => r.json.shopDomain === req.shopDomain);\n\nif (!store) {\n  return [{ json: { found: false, error: 'Store not found' } }];\n}\n\n// Verify credentials\nif (store.json.clientId !== req.clientId || store.json.clientSecret !== req.clientSecret) {\n  return [{ json: { found: false, error: 'Invalid credentials' } }];\n}\n\nreturn [{ json: {\n  found: true,\n  storeId: store.json.storeId,\n  productId: req.productId,\n  formId: req.formId,\n  formData: req.formData,\n  isProductLevel: req.isProductLevel\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16160,
        2448
      ],
      "id": "9ef0169c-b062-40f5-8d42-ef212974b329",
      "name": "Verify Store"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "store-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -15920,
        2448
      ],
      "id": "a084a74a-9d74-490b-b460-7ccfb9e2d1da",
      "name": "If Store Found"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-product-level",
              "leftValue": "={{ $json.isProductLevel }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -15680,
        2448
      ],
      "id": "de2d5ab9-79ad-4654-8c67-eb218879f1d1",
      "name": "Is Product Level?"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "product_configs",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "storeId"
            },
            {
              "keyName": "productId"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "storeId": "={{ $json.storeId }}",
            "productId": "={{ $json.productId }}",
            "formId": "={{ $json.formId }}",
            "formData": "={{ $json.formData }}"
          },
          "matchingColumns": [
            "storeId",
            "productId"
          ],
          "schema": [
            {
              "id": "storeId",
              "displayName": "storeId",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "productId",
              "displayName": "productId",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "formId",
              "displayName": "formId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "formData",
              "displayName": "formData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -15440,
        2336
      ],
      "id": "c713b3ff-89a9-4910-8e0e-c2e918a4b528",
      "name": "Save Product Config"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "store_configs",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "storeId"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "storeId": "={{ $json.storeId }}",
            "formId": "={{ $json.formId }}",
            "formData": "={{ $json.formData }}"
          },
          "matchingColumns": [
            "storeId"
          ],
          "schema": [
            {
              "id": "storeId",
              "displayName": "storeId",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "formId",
              "displayName": "formId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "formData",
              "displayName": "formData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -15440,
        2560
      ],
      "id": "df6daac7-6af6-4359-a7d3-20631d77f1dc",
      "name": "Save Global Config"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: 'saved', storeId: $json.storeId, productId: $json.productId || '', formId: $json.formId }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache, no-store, must-revalidate"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -15200,
        2448
      ],
      "id": "039ca647-1d38-4afe-a4af-0e441ab652f7",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || 'Unknown error' }) }}",
        "options": {
          "responseCode": "400",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -15984,
        2800
      ],
      "id": "fd6331af-ad6f-4ce4-ad22-d85353f575ed",
      "name": "Respond Error"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "If Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid": {
      "main": [
        [
          {
            "node": "Get Stores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stores": {
      "main": [
        [
          {
            "node": "Verify Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Store": {
      "main": [
        [
          {
            "node": "If Store Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Store Found": {
      "main": [
        [
          {
            "node": "Is Product Level?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Product Level?": {
      "main": [
        [
          {
            "node": "Save Product Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Global Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Product Config": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Global Config": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
  }
}