src/workflows-temp/Shopify_Disconnect.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/disconnect",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -14656,
        560
      ],
      "id": "a820b909-12f9-4817-82a6-17b22bfb0d37",
      "name": "Receive Disconnect Request",
      "webhookId": "shopify-disconnect-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse disconnect request\nconst body = $input.first().json.body;\n\n// normalize shop domain\nlet shopDomain = body.shopDomain || '';\nif (shopDomain && !shopDomain.includes('.')) {\n  shopDomain += '.myshopify.com';\n}\n\nif (!shopDomain) {\n  return [{ json: { valid: false, error: 'shopDomain is required' } }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    shopDomain: shopDomain\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14416,
        560
      ],
      "id": "5b52427f-7c3f-421e-8a78-72347cc3f82f",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -14176,
        560
      ],
      "id": "ceec0367-fc5a-463a-bc81-4c156a05aaae",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "stores",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -13936,
        464
      ],
      "id": "02fd6cba-d6f3-44ca-95ab-cbf6eca1709d",
      "name": "Get Stores",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find the row to delete (Case Insensitive)\nconst rows = $input.all();\nconst shopDomain = ($('Parse Request').first().json.shopDomain || '').toLowerCase();\n\nconst row = rows.find(r => \n  r.json.shopDomain && \n  r.json.shopDomain.toLowerCase() === shopDomain\n);\n\nif (row) {\n  return [{ json: { found: true, rowId: row.id, storeId: row.json.storeId, shopDomain } }];\n}\n\n// Debug info if not found\nconst availableDomains = rows.map(r => r.json.shopDomain);\nreturn [{ json: { found: false, searchDomain: shopDomain, availableDomains } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13696,
        464
      ],
      "id": "19ac56df-fc43-4fbd-b641-ace48abb75e4",
      "name": "Find Row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "row-exists",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -13456,
        464
      ],
      "id": "f58cfd47-2a81-4633-aeca-e74b400ff147",
      "name": "If row exists"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "stores",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "storeId",
              "keyValue": "={{ $json.storeId }}"
            },
            {
              "keyName": "shopDomain",
              "keyValue": "={{ $json.shopDomain }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -12672,
        144
      ],
      "id": "a0851ab9-715d-45ef-a8d9-dd6140e68499",
      "name": "Delete Store Row"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "store_configs",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -13216,
        512
      ],
      "id": "dc723c1d-f238-4c90-8eee-80495775fbbf",
      "name": "Get All Configs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find all store_configs rows matching the storeId being disconnected\nconst rows = $input.all();\nconst storeId = $('Find Row').first().json.storeId;\n\nif (!storeId) {\n  return [{ json: { configsFound: false, count: 0 } }];\n}\n\nconst matching = rows.filter(r => r.json.storeId === storeId);\n\nif (matching.length === 0) {\n  return [{ json: { configsFound: false, count: 0 } }];\n}\n\n// Return each matching row ID for deletion\nreturn matching.map(r => ({ json: { configsFound: true, configRowId: r.id, storeId } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12976,
        512
      ],
      "id": "f836c32c-8e69-4a8e-8d11-84d96fe1b27b",
      "name": "Find Configs to Delete"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "configs-found",
              "leftValue": "={{ $json.configsFound }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -12736,
        512
      ],
      "id": "1d62dab1-5788-4127-ab6e-6649b454d100",
      "name": "If Configs Found"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "store_configs",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.configRowId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -12496,
        432
      ],
      "id": "d120c816-eb93-4c2c-86a2-404c25b87742",
      "name": "Delete Config Rows"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Store credentials and configs removed successfully' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -12256,
        464
      ],
      "id": "2a856218-b34d-4294-abfa-e4a8876ab600",
      "name": "Respond"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Store credentials already removed or not found' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -13216,
        656
      ],
      "id": "f0baab35-4023-4f9e-9d71-9602726e8aaa",
      "name": "Not Found (OK)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || 'Invalid request' }) }}",
        "options": {
          "responseCode": "400",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -13936,
        656
      ],
      "id": "ceb49951-c9fc-4b20-8df3-5f1248c35321",
      "name": "Error Response"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "product_configs",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -13216,
        720
      ],
      "id": "087a097a-29c1-4b65-8885-cebf8679823f",
      "name": "Get All Product Configs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find all product_configs rows matching the storeId being disconnected\nconst rows = $input.all();\nconst storeId = $('Find Row').first().json.storeId;\n\nif (!storeId) {\n  return [{ json: { configsFound: false, count: 0 } }];\n}\n\nconst matching = rows.filter(r => r.json.storeId === storeId);\n\nif (matching.length === 0) {\n  return [{ json: { configsFound: false, count: 0 } }];\n}\n\n// Return each matching row ID for deletion\nreturn matching.map(r => ({ json: { configsFound: true, configRowId: r.id, storeId } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12976,
        720
      ],
      "id": "bd4f074b-8a28-4ed3-b88d-eb3ec00578a8",
      "name": "Find Product Configs to Delete"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "product-configs-found",
              "leftValue": "={{ $json.configsFound }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -12736,
        720
      ],
      "id": "15408274-7298-4849-9d89-88f28959b278",
      "name": "If Product Configs Found"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "product_configs",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.configRowId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -12496,
        640
      ],
      "id": "a275ccf8-9b61-4639-909d-b9bdc0d956fe",
      "name": "Delete Product Config Rows"
    }
  ],
  "connections": {
    "Receive Disconnect Request": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Get Stores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stores": {
      "main": [
        [
          {
            "node": "Find Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Row": {
      "main": [
        [
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "Delete Store Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Configs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Product Configs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found (OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Store Row": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Configs": {
      "main": [
        [
          {
            "node": "Find Configs to Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Configs to Delete": {
      "main": [
        [
          {
            "node": "If Configs Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Configs Found": {
      "main": [
        [
          {
            "node": "Delete Config Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Product Configs": {
      "main": [
        [
          {
            "node": "Find Product Configs to Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Product Configs to Delete": {
      "main": [
        [
          {
            "node": "If Product Configs Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Product Configs Found": {
      "main": [
        [
          {
            "node": "Delete Product Config Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
  }
}