src/workflows-temp/shopify-enable-loader.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/enable-loader",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-768, -352],
      "id": "1509cf63-d790-4ad6-b433-55bfe96433d3",
      "name": "Receive Enable Request",
      "webhookId": "enable-loader-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.body.subdomain }}.myshopify.com/admin/oauth/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $json.body.clientId }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.body.clientSecret }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-544, -352],
      "id": "e9d250cd-23e0-4ff7-a74a-839020eea032",
      "name": "Get Access Token",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-304, -352],
      "id": "check-existing-scripts",
      "name": "Check Existing Scripts",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const CURRENT_VERSION = '1.1.0';\nconst scriptTags = $input.first().json.script_tags || [];\nconst accessToken = $('Get Access Token').item.json.access_token;\n\n// Find existing FinalForm loader\nconst loaderTag = scriptTags.find(t => \n  t.src && (t.src.includes('finalform'))\n);\n\nif (loaderTag) {\n  // Extract version from URL\n  let existingVersion = null;\n  const versionMatch = loaderTag.src.match(/[?&]v(?:ersion)?=([0-9]+\\.[0-9]+\\.[0-9]+)/);\n  if (versionMatch) {\n    existingVersion = versionMatch[1];\n  }\n  \n  if (existingVersion === CURRENT_VERSION) {\n    // Already installed with same version\n    return [{\n      json: {\n        action: 'already_installed',\n        scriptTagId: loaderTag.id.toString(),\n        version: existingVersion,\n        accessToken\n      }\n    }];\n  } else {\n    // Needs upgrade - delete old, create new\n    return [{\n      json: {\n        action: 'upgrade',\n        oldScriptTagId: loaderTag.id.toString(),\n        oldVersion: existingVersion,\n        newVersion: CURRENT_VERSION,\n        accessToken\n      }\n    }];\n  }\n} else {\n  // No loader installed - proceed with installation\n  return [{\n    json: {\n      action: 'install',\n      version: CURRENT_VERSION,\n      accessToken\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-64, -352],
      "id": "check-loader-status",
      "name": "Check Loader Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "already-installed",
              "leftValue": "={{ $json.action }}",
              "rightValue": "already_installed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [176, -352],
      "id": "is-already-installed",
      "name": "Already Installed?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"version\": \"{{ $json.version }}\",\n  \"alreadyInstalled\": true,\n  \"scriptTagId\": \"{{ $json.scriptTagId }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [416, -500],
      "id": "respond-already-installed",
      "name": "Already Installed Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-upgrade",
              "leftValue": "={{ $json.action }}",
              "rightValue": "upgrade",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [416, -352],
      "id": "needs-upgrade",
      "name": "Needs Upgrade?"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/script_tags/{{ $json.oldScriptTagId }}.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [656, -500],
      "id": "delete-old-script",
      "name": "Delete Old Script Tag",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"mutation CreateProductMetafieldDef { metafieldDefinitionCreate(definition: { name: \\\"FinalForm Config\\\", namespace: \\\"finalform\\\", key: \\\"config\\\", type: \\\"json\\\", ownerType: PRODUCT, access: { storefront: PUBLIC_READ } }) { createdDefinition { id } userErrors { field message } } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [656, -200],
      "id": "create-product-metafield-def",
      "name": "Create Product Metafield Definition",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"mutation CreateShopMetafieldDef { metafieldDefinitionCreate(definition: { name: \\\"FinalForm Config\\\", namespace: \\\"finalform\\\", key: \\\"config\\\", type: \\\"json\\\", ownerType: SHOP, access: { storefront: PUBLIC_READ } }) { createdDefinition { id } userErrors { field message } } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [896, -200],
      "id": "create-shop-metafield-def",
      "name": "Create Shop Metafield Definition",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/storefront_access_tokens.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"storefront_access_token\":{\"title\":\"FinalForm Loader\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1136, -200],
      "id": "create-sf-token",
      "name": "Create SF Token",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script_tag\": {\n    \"event\": \"onload\",\n    \"src\": \"https://finalformfunnel.web.app/finalform-loader.prod.js?sf_token={{ $json.storefront_access_token.access_token }}&v=1.1.0\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1376, -200],
      "id": "inject-script-tag",
      "name": "Inject Script Tag",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"version\": \"1.1.0\",\n  \"alreadyInstalled\": false,\n  \"scriptTagId\": \"{{ $json.script_tag.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1616, -200],
      "id": "success-response",
      "name": "Success Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/storefront_access_tokens.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"storefront_access_token\":{\"title\":\"FinalForm Loader\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [896, -500],
      "id": "create-sf-token-upgrade",
      "name": "Create SF Token (Upgrade)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Enable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Get Access Token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script_tag\": {\n    \"event\": \"onload\",\n    \"src\": \"https://finalformfunnel.web.app/finalform-loader.prod.js?sf_token={{ $json.storefront_access_token.access_token }}&v=1.1.0\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1136, -500],
      "id": "inject-script-tag-upgrade",
      "name": "Inject Script Tag (Upgrade)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"version\": \"1.1.0\",\n  \"upgraded\": true,\n  \"scriptTagId\": \"{{ $json.script_tag.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1376, -500],
      "id": "upgrade-success-response",
      "name": "Upgrade Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.message || 'Error configuring loader' }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [656, 0],
      "id": "error-response",
      "name": "Error Response"
    }
  ],
  "connections": {
    "Receive Enable Request": {
      "main": [
        [
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "Check Existing Scripts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Scripts": {
      "main": [
        [
          {
            "node": "Check Loader Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Loader Status": {
      "main": [
        [
          {
            "node": "Already Installed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Installed?": {
      "main": [
        [
          {
            "node": "Already Installed Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Upgrade?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Upgrade?": {
      "main": [
        [
          {
            "node": "Delete Old Script Tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Product Metafield Definition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Script Tag": {
      "main": [
        [
          {
            "node": "Create SF Token (Upgrade)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SF Token (Upgrade)": {
      "main": [
        [
          {
            "node": "Inject Script Tag (Upgrade)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Script Tag (Upgrade)": {
      "main": [
        [
          {
            "node": "Upgrade Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product Metafield Definition": {
      "main": [
        [
          {
            "node": "Create Shop Metafield Definition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Shop Metafield Definition": {
      "main": [
        [
          {
            "node": "Create SF Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SF Token": {
      "main": [
        [
          {
            "node": "Inject Script Tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Script Tag": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "587aef964d83a99e849af5b6a53cd904631a6643f9c8db8007015f2aa820bf9d"
  }
}
