src/workflows-temp/shopify-submit-order.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-order",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1040, 576],
      "id": "184c273f-654f-4b17-bc40-6a2bcf75dd4a",
      "name": "Receive Order",
      "webhookId": "order-submit-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse and structure the order data\nconst body = $input.first().json.body;\n\nreturn [{\n  json: {\n    name: body.name || '',\n    phone: body.phone || '',\n    wilaya: body.wilaya || '',\n    commune: body.commune || '',\n    address: body.address || '',\n    note: body.note || '',\n    variant: body.variant || '',\n    offer: body.offer || '',\n    delivery: body.delivery || 'home',\n    promo: body.promo || '',\n    shopDomain: body.shopDomain || '',\n    productId: body.productId || '',\n    productHandle: body.productHandle || '',\n    productTitle: body.productTitle || '',\n    productPrice: body.productPrice || 0,\n    createdAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 576],
      "id": "b4acff53-b86e-4aa0-9606-78edeb8f8dea",
      "name": "Parse Order Data"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields\nconst order = $input.first().json;\nconst errors = [];\n\nif (!order.name || order.name.trim() === '') errors.push('Name is required');\nif (!order.phone || order.phone.trim() === '') errors.push('Phone is required');\nif (!order.wilaya || order.wilaya.trim() === '') errors.push('Wilaya is required');\nif (!order.shopDomain) errors.push('Shop domain is required');\n\nif (errors.length > 0) {\n  return [{ json: { valid: false, errors } }];\n}\n\nreturn [{ json: { valid: true, order } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 576],
      "id": "51b49f6f-338e-4547-9ef6-41d851ef22fd",
      "name": "Validate Order"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-320, 576],
      "id": "30572bb5-6264-46db-b264-5c21fde33fa8",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "jsCode": "// Create order (TODO: Integrate with Shopify API to create draft order)\nconst order = $input.first().json.order;\n\n// For now, just return the order data with a generated ID\nreturn [{ \n  json: {\n    orderId: 'FF-' + Date.now(),\n    status: 'pending',\n    ...order\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-80, 480],
      "id": "7d556ee5-257b-480e-8bd2-cd391f3c76b1",
      "name": "Create Order"
    },
    {
      "parameters": {
        "jsCode": "// Format success response\nconst orderId = $input.first().json.orderId;\n\nreturn [{\n  json: {\n    success: true,\n    orderId: orderId,\n    message: 'Order received successfully'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 480],
      "id": "e57cdb58-56ef-4fc2-8f3a-cd3446a13b7d",
      "name": "Success Response"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [400, 576],
      "id": "769166dd-373e-49b5-bce3-f882e479ade2",
      "name": "Respond"
    },
    {
      "parameters": {
        "jsCode": "// Format error response with proper JSON structure\nconst errors = $input.first().json.errors || ['Unknown error'];\n\nreturn [{\n  json: {\n    success: false,\n    errors: errors\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 688],
      "id": "0c638c3e-0473-46f3-a70f-27569c55855d",
      "name": "Error Response"
    }
  ],
  "connections": {
    "Receive Order": {
      "main": [
        [
          {
            "node": "Parse Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Order Data": {
      "main": [
        [
          {
            "node": "Validate Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Order": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Create Order",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Order": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "587aef964d83a99e849af5b6a53cd904631a6643f9c8db8007015f2aa820bf9d"
  }
}
