src/workflows-temp/Shopify_Delete_Config.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/delete-config",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6912,
        256
      ],
      "id": "8719374b-1dd2-4e47-ba0b-b8db8a05edf0",
      "name": "Webhook",
      "webhookId": "delete-config-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse request body\nconst body = $input.first().json.body;\n\nconst shopDomain = body.shopDomain;\nconst clientId = body.clientId;\nconst clientSecret = body.clientSecret;\n\n// Normalize ownerId: null, undefined, empty string, 'null' all become empty string\nlet ownerId = body.ownerId;\nif (!ownerId || ownerId === 'null' || ownerId === 'undefined') {\n  ownerId = '';\n} else {\n  ownerId = String(ownerId);\n}\n\nif (!shopDomain || !clientId || !clientSecret) {\n  return [{ json: { error: 'Missing required credentials', valid: false } }];\n}\n\nreturn [{ json: {\n  valid: true,\n  shopDomain,\n  clientId,\n  clientSecret,\n  ownerId\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6672,
        256
      ],
      "id": "05513ed5-8edd-47e4-8e29-7b2a2d1cbb20",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6432,
        256
      ],
      "id": "2e3a9682-2e92-4899-a3b2-0bc8cb40ff7a",
      "name": "If Valid"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "stores",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -6192,
        160
      ],
      "id": "e4445e26-3d82-4a22-b42f-2f13a503354c",
      "name": "Get Stores",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find store and verify credentials\nconst rows = $input.all();\nconst req = $('Parse Request').first().json;\n\nconst store = rows.find(r => r.json.shopDomain === req.shopDomain);\n\nif (!store) {\n  return [{ json: { found: false, error: 'Store not found' } }];\n}\n\nif (store.json.clientId !== req.clientId || store.json.clientSecret !== req.clientSecret) {\n  return [{ json: { found: false, error: 'Invalid credentials' } }];\n}\n\nreturn [{ json: {\n  found: true,\n  storeId: store.json.storeId,\n  ownerId: req.ownerId\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5952,
        160
      ],
      "id": "29dd47d5-a1b2-4992-aac2-3d83c5dc7c61",
      "name": "Verify Store"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "store-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5712,
        160
      ],
      "id": "b3c5b249-035d-426d-b2dc-321291891c94",
      "name": "If Store Found"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "store_configs",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -5472,
        64
      ],
      "id": "32c9ccc1-28fe-4c20-8d17-5b625f3c0fff",
      "name": "Get Configs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find config to delete by storeId + ownerId\nconst rows = $input.all();\nconst verifyData = $('Verify Store').first().json;\n\nconst storeId = verifyData.storeId;\nconst ownerId = verifyData.ownerId; // Already normalized to empty string for store-level\n\nconst config = rows.find(r => {\n  const rowOwnerId = r.json.ownerId || '';\n  return r.json.storeId === storeId && rowOwnerId === ownerId;\n});\n\nif (config) {\n  return [{ json: { found: true, storeId, ownerId } }];\n}\n\nreturn [{ json: { found: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5232,
        64
      ],
      "id": "844af5c8-727b-4b9e-9ad7-69f62d4cd2f9",
      "name": "Find Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "config-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4992,
        64
      ],
      "id": "7739a7d0-6b61-47a9-9170-35f5c98cddcc",
      "name": "If Config Found"
    },
    {
      "parameters": {
        "operation": "deleteRow",
        "dataTableId": {
          "__rl": true,
          "value": "store_configs",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -4752,
        -48
      ],
      "id": "c3f96baf-47a3-4493-b1e4-0a8ec1b50186",
      "name": "Delete Config"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -4512,
        64
      ],
      "id": "69032df1-8751-47b2-ab7a-c91dbaffc5e6",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || 'Unknown error' }) }}",
        "options": {
          "responseCode": "400",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -6192,
        352
      ],
      "id": "fb58eb37-64a1-4337-ab00-d1e407df55a6",
      "name": "Respond Error"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "If Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid": {
      "main": [
        [
          {
            "node": "Get Stores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stores": {
      "main": [
        [
          {
            "node": "Verify Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Store": {
      "main": [
        [
          {
            "node": "If Store Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Store Found": {
      "main": [
        [
          {
            "node": "Get Configs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Configs": {
      "main": [
        [
          {
            "node": "Find Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Config": {
      "main": [
        [
          {
            "node": "If Config Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Config Found": {
      "main": [
        [
          {
            "node": "Delete Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Config": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
  }
}