src/workflows-temp/shopify-assign-form.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/assign-form",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [420, -100],
      "id": "webhook-assign",
      "name": "Receive Assignment",
      "webhookId": "assign-form-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.body.subdomain }}.myshopify.com/admin/oauth/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $json.body.clientId }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.body.clientSecret }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [640, -100],
      "id": "get-token",
      "name": "Get Access Token",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Receive Assignment').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/{{ $('Receive Assignment').item.json.body.productId ? 'products/' + $('Receive Assignment').item.json.body.productId + '/metafields.json' : 'metafields.json' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"metafield\": {\n    \"namespace\": \"finalform\",\n    \"key\": \"config\",\n    \"value\": JSON.stringify($('Receive Assignment').item.json.body.formConfig),\n    \"type\": \"json\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [860, -100],
      "id": "set-metafield",
      "name": "Set Metafield",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Configuration synced to Shopify Metafields\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1100, -180],
      "id": "respond-success",
      "name": "Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.message || 'Failed to authenticate with Shopify' }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1100, 20],
      "id": "respond-error",
      "name": "Error Response"
    }
  ],
  "connections": {
    "Receive Assignment": {
      "main": [
        [
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "Set Metafield",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Metafield": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
