src/workflows-temp/Shopify_Submit_Order.json
{
  "name": "Shopify Submit Order",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-order",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "receive-order",
      "name": "Receive Order",
      "webhookId": "order-submit-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse and structure the order data from FormLoader\nconst body = $input.first().json.body;\n\nreturn [{\n  json: {\n    name: body.name || '',\n    phone: body.phone || '',\n    wilaya: body.wilaya || '',\n    wilayaId: body.wilayaId || '',\n    commune: body.commune || '',\n    address: body.address || '',\n    note: body.note || '',\n    shippingType: body.shippingType || 'home',\n    variant: body.variant || '',\n    variantId: body.variantId || null,\n    quantity: body.quantity || 1,\n    offerId: body.offerId || '',\n    promo: body.promo || '',\n    promoDiscount: body.promoDiscount || 0,\n    totalPrice: body.totalPrice || 0,\n    currency: body.currency || 'DZD',\n    shopDomain: body.shopDomain || '',\n    shopName: body.shopName || '',\n    productId: body.productId || '',\n    productHandle: body.productHandle || '',\n    productTitle: body.productTitle || '',\n    items: body.items || [],\n    createdAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "parse-order",
      "name": "Parse Order Data"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields\nconst order = $input.first().json;\nconst errors = [];\n\nif (!order.name || order.name.trim() === '') errors.push('Name is required');\nif (!order.phone || order.phone.trim() === '') errors.push('Phone is required');\nif (!order.wilaya || order.wilaya.trim() === '') errors.push('Wilaya is required');\nif (!order.shopDomain) errors.push('Shop domain is required');\nif (!order.items || order.items.length === 0) errors.push('At least one item required');\n\nif (errors.length > 0) {\n  return [{ json: { valid: false, errors, order } }];\n}\n\nreturn [{ json: { valid: true, order } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "validate-order",
      "name": "Validate Order"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        0
      ],
      "id": "is-valid",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "resource": "table",
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        960,
        -100
      ],
      "id": "list-tables",
      "name": "List data tables",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "name",
        "include": "selectedOtherFields",
        "fieldsToInclude": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1200,
        -100
      ],
      "id": "split-out",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "table-exists",
              "leftValue": "={{ $json.name }}",
              "rightValue": "stores",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        -100
      ],
      "id": "if-table-exists",
      "name": "If Table exists"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1680,
        -200
      ],
      "id": "get-store-creds",
      "name": "Get Store Credentials",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find the matching store credentials\nconst rows = $input.all();\nconst shopDomain = $('Validate Order').first().json.order.shopDomain;\n\nconst store = rows.find(row => row.json.shopDomain === shopDomain);\n\nif (store) {\n  return [{ json: { found: true, store: store.json, order: $('Validate Order').first().json.order } }];\n}\n\nreturn [{ json: { found: false, shopDomain, order: $('Validate Order').first().json.order } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -200
      ],
      "id": "find-store",
      "name": "Find Store Credentials"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "creds-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        -200
      ],
      "id": "if-creds-found",
      "name": "Credentials Found?"
    },
    {
      "parameters": {
        "jsCode": "// Build Shopify Draft Order GraphQL mutation\nconst { store, order } = $input.first().json;\n\n// Format line items for Shopify\nlet lineItems = [];\n\n// If we have variantId, use it\nif (order.variantId) {\n  lineItems = [{\n    variantId: 'gid://shopify/ProductVariant/' + order.variantId,\n    quantity: order.quantity || 1\n  }];\n} else {\n  // Fallback to items array\n  lineItems = (order.items || []).map(item => ({\n    title: item.title || order.productTitle || 'Product',\n    quantity: item.quantity || 1,\n    originalUnitPrice: ((item.price || order.totalPrice) / 100).toFixed(2)\n  }));\n}\n\nconst draftOrderInput = {\n  input: {\n    lineItems: lineItems,\n    shippingAddress: {\n      firstName: order.name.split(' ')[0] || order.name,\n      lastName: order.name.split(' ').slice(1).join(' ') || '',\n      phone: order.phone,\n      address1: order.address || '',\n      city: order.commune || '',\n      province: order.wilaya || '',\n      country: 'Algeria',\n      countryCode: 'DZ'\n    },\n    phone: order.phone,\n    note: order.note || '',\n    tags: ['FinalForm', order.shippingType === 'desk' ? 'desk-delivery' : 'home-delivery']\n  }\n};\n\nconst query = `mutation draftOrderCreate($input: DraftOrderInput!) {\n  draftOrderCreate(input: $input) {\n    draftOrder { id name invoiceUrl status totalPrice }\n    userErrors { field message }\n  }\n}`;\n\nreturn [{ json: { order, store, graphqlQuery: query, graphqlVariables: draftOrderInput } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -300
      ],
      "id": "build-draft-order",
      "name": "Build Draft Order Query"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.store.subdomain }}.myshopify.com/admin/api/2024-01/graphql.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.store.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.graphqlQuery, variables: $json.graphqlVariables }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2640,
        -300
      ],
      "id": "shopify-graphql",
      "name": "Create Shopify Draft Order",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Shopify response\nconst input = $input.first().json;\nconst order = $('Build Draft Order Query').first().json.order;\n\nconst draftOrderResult = input.data?.draftOrderCreate;\nconst userErrors = draftOrderResult?.userErrors || [];\nconst draftOrder = draftOrderResult?.draftOrder;\n\nif (userErrors.length > 0) {\n  return [{\n    json: {\n      success: false,\n      shopifyError: true,\n      errors: userErrors.map(e => e.field + ': ' + e.message),\n      order\n    }\n  }];\n}\n\nconst orderId = 'FF-' + Date.now();\n\nreturn [{\n  json: {\n    success: true,\n    orderId: orderId,\n    shopifyDraftOrderId: draftOrder?.id,\n    shopifyDraftOrderName: draftOrder?.name,\n    shopifyInvoiceUrl: draftOrder?.invoiceUrl,\n    message: 'Order received and draft created in Shopify'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        -300
      ],
      "id": "parse-response",
      "name": "Parse Shopify Response"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3120,
        0
      ],
      "id": "respond",
      "name": "Respond"
    },
    {
      "parameters": {
        "jsCode": "// Error response\nconst errors = $input.first().json.errors || ['Unknown error'];\n\nreturn [{\n  json: {\n    success: false,\n    errors: errors\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        100
      ],
      "id": "error-response",
      "name": "Error Response"
    },
    {
      "parameters": {
        "jsCode": "// Store not found error\nreturn [{\n  json: {\n    success: false,\n    errors: ['Store credentials not found. Please reconnect your store.']\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -100
      ],
      "id": "no-creds-error",
      "name": "No Credentials Error"
    },
    {
      "parameters": {
        "jsCode": "// Table not found error\nreturn [{\n  json: {\n    success: false,\n    errors: ['Store credentials table not found. Please connect a store first.']\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        0
      ],
      "id": "no-table-error",
      "name": "No Table Error"
    }
  ],
  "connections": {
    "Receive Order": {
      "main": [
        [
          {
            "node": "Parse Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Order Data": {
      "main": [
        [
          {
            "node": "Validate Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Order": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "List data tables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List data tables": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If Table exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Table exists": {
      "main": [
        [
          {
            "node": "Get Store Credentials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Table Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Credentials": {
      "main": [
        [
          {
            "node": "Find Store Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Store Credentials": {
      "main": [
        [
          {
            "node": "Credentials Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials Found?": {
      "main": [
        [
          {
            "node": "Build Draft Order Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Credentials Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Draft Order Query": {
      "main": [
        [
          {
            "node": "Create Shopify Draft Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Shopify Draft Order": {
      "main": [
        [
          {
            "node": "Parse Shopify Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Shopify Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Credentials Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Table Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": null
}