src/workflows-temp/Shopify_Get_Config.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "=GET",
        "path": "shopify/config",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -11008,
        -240
      ],
      "id": "b978bf31-f21a-4640-998c-7e1ac3d46c38",
      "name": "Webhook",
      "webhookId": "get-config-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse query params\nconst query = $input.first().json.query;\n\nconst shopDomain = query.shop;\nconst productId = query.productId || null;\n\nif (!shopDomain) {\n  return [{ json: { valid: false, error: 'Missing shop parameter' } }];\n}\n\nreturn [{ json: {\n  valid: true,\n  shopDomain,\n  productId\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10768,
        -240
      ],
      "id": "2bdfae36-5cb7-413c-8c81-dd241993bd6e",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -10528,
        -240
      ],
      "id": "81cf0a32-bc9e-4d6a-aa88-6cbcf4b5c0a3",
      "name": "If Valid"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "stores",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -10288,
        -352
      ],
      "id": "cc842de1-3c8e-411b-9f23-88095d31376e",
      "name": "Get Stores",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find store by domain\nconst rows = $input.all();\nconst req = $('Parse Request').first().json;\n\nconst store = rows.find(r => r.json.shopDomain === req.shopDomain);\n\nif (!store) {\n  return [{ json: { found: false, error: 'Store not found' } }];\n}\n\nreturn [{ json: {\n  found: true,\n  storeId: store.json.storeId,\n  productId: req.productId\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10048,
        -352
      ],
      "id": "88e0f446-56ff-4d5d-9d0b-19f59e232fe5",
      "name": "Find Store"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "store-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9808,
        -352
      ],
      "id": "74f36ac0-443d-4553-b727-5bc6a38f69c5",
      "name": "If Store Found"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "product_configs",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -9568,
        -544
      ],
      "id": "get-product-configs-node",
      "name": "Get Product Configs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "store_configs",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -9568,
        -352
      ],
      "id": "ed9bce19-0354-4c3f-8e77-0daf667344a4",
      "name": "Get Store Configs",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Dual-Table Config Lookup\n// Priority: 1. product_configs match -> 2. store_configs match -> 3. empty\n\nconst storeData = $('Find Store').first().json;\nconst storeId = storeData.storeId;\nconst reqProductId = storeData.productId ? String(storeData.productId).trim() : '';\n\n// Strip GID prefix if present\nconst normalize = (val) => {\n  if (!val) return '';\n  let s = String(val).trim();\n  const gidMatch = s.match(/^gid:\\/\\/shopify\\/Product\\/(.+)$/);\n  if (gidMatch) s = gidMatch[1];\n  return s;\n};\n\nconst normalizedReqProductId = normalize(reqProductId);\n\n// Read both tables\nconst productConfigs = $('Get Product Configs').all();\nconst storeConfigs = $('Get Store Configs').all();\n\nlet match = null;\nlet matchType = 'none';\n\n// 1. Try product_configs table first (exact productId match)\nif (normalizedReqProductId !== '') {\n  const productMatch = productConfigs.find(r =>\n    r.json.storeId === storeId && normalize(r.json.productId) === normalizedReqProductId\n  );\n  if (productMatch) {\n    match = productMatch;\n    matchType = 'product';\n  }\n}\n\n// 2. Fallback to store_configs table (global store-level config)\nif (!match) {\n  const storeMatch = storeConfigs.find(r => r.json.storeId === storeId);\n  if (storeMatch) {\n    match = storeMatch;\n    matchType = 'global';\n  }\n}\n\n// 3. Return result\nif (match) {\n  let formData = {};\n  try {\n    formData = typeof match.json.formData === 'string'\n      ? JSON.parse(match.json.formData)\n      : match.json.formData || {};\n  } catch (e) {\n    formData = {};\n  }\n\n  return [{ json: {\n    found: true,\n    matchType,\n    formId: match.json.formId,\n    formData,\n    updatedAt: match.json.updatedAt || new Date().toISOString()\n  } }];\n}\n\nreturn [{ json: { found: false, error: 'No config found' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9328,
        -448
      ],
      "id": "d207333b-0ec7-425b-a6be-1a181bac2cd1",
      "name": "Find Config"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "config-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9088,
        -448
      ],
      "id": "805bcf34-ddc9-4f54-8532-75582936d7f9",
      "name": "If Config Found"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ...$json.formData, _serverUpdatedAt: $json.updatedAt }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache, no-store, must-revalidate"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -8848,
        -544
      ],
      "id": "62345f0a-1352-4d47-8b48-537f38c1e174",
      "name": "Respond with Config"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({}) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache, no-store, must-revalidate"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -8848,
        -352
      ],
      "id": "af1467d0-2571-4c8f-976f-8a8916928482",
      "name": "Respond Empty"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error || 'Invalid request' }) }}",
        "options": {
          "responseCode": "400",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -10288,
        -144
      ],
      "id": "3c15c6f6-90f9-4562-a3ca-27e2caa8a732",
      "name": "Respond Error"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "If Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid": {
      "main": [
        [
          {
            "node": "Get Stores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stores": {
      "main": [
        [
          {
            "node": "Find Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Store": {
      "main": [
        [
          {
            "node": "If Store Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Store Found": {
      "main": [
        [
          {
            "node": "Get Store Configs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Configs": {
      "main": [
        [
          {
            "node": "Get Product Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product Configs": {
      "main": [
        [
          {
            "node": "Find Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Config": {
      "main": [
        [
          {
            "node": "If Config Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Config Found": {
      "main": [
        [
          {
            "node": "Respond with Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
  }
}