src/workflows-temp/Shopify_Disable_Loader.json
{
  "name": "Shopify Disable Loader",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/disable-loader",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1968,
        -224
      ],
      "id": "cfaa6f8b-312e-41b3-87a1-c87e983a7397",
      "name": "Receive Disable Request",
      "webhookId": "disable-loader-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.body.subdomain }}.myshopify.com/admin/oauth/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $json.body.clientId }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.body.clientSecret }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1728,
        -224
      ],
      "id": "c29467d8-da14-4868-9c1a-b36a0c09c861",
      "name": "GetToken",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Receive Disable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1488,
        -224
      ],
      "id": "9878a326-9614-4ff2-a239-191009e436da",
      "name": "Get Existing ScriptTags",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Find the finalform script tag\nconst scriptTags = $input.first().json.script_tags || [];\nconst finalformTag = scriptTags.find(t => \n  t.src.includes('finalform')\n);\n\nif (finalformTag) {\n  return [{ json: { scriptTagId: finalformTag.id, found: true } }];\n} else {\n  return [{ json: { found: false } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        -224
      ],
      "id": "7ab12cfb-da31-41ba-a880-77d5d17b95de",
      "name": "Find Loader Script"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "found-check",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1008,
        -224
      ],
      "id": "fe23605d-0c3d-499f-b385-6bb87c3c7891",
      "name": "Is Loader Found?"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://{{ $('Receive Disable Request').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/script_tags/{{ $json.scriptTagId }}.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('GetToken').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -768,
        -320
      ],
      "id": "7d0d1b6f-ca66-4179-85b7-e98ece527b6c",
      "name": "Delete Loader Script",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": true,\n  \"removed\": true,\n  \"message\": \"Loader disabled successfully!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -320
      ],
      "id": "4586e6f2-a37e-465b-9fe6-02849bf14eea",
      "name": "Success (Removed)"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": true,\n  \"removed\": false,\n  \"message\": \"Loader was not installed.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -112
      ],
      "id": "2af5db6a-12d2-4798-bfc2-dd7ff030ae2e",
      "name": "Not Found"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -288,
        -224
      ],
      "id": "b664f43b-87cf-4501-98e9-093ce92d5dd5",
      "name": "Respond"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Token exchange failed. Please verify your credentials.\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1728,
        -16
      ],
      "id": "02cd876c-a1aa-42bd-8912-1a6e17ce15d1",
      "name": "Token Error Response"
    }
  ],
  "connections": {
    "Receive Disable Request": {
      "main": [
        [
          {
            "node": "GetToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetToken": {
      "main": [
        [
          {
            "node": "Get Existing ScriptTags",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Token Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing ScriptTags": {
      "main": [
        [
          {
            "node": "Find Loader Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Loader Script": {
      "main": [
        [
          {
            "node": "Is Loader Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Loader Found?": {
      "main": [
        [
          {
            "node": "Delete Loader Script",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Loader Script": {
      "main": [
        [
          {
            "node": "Success (Removed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success (Removed)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Found": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": null
}