src/workflows-temp/Shopify_Enable_Loader.json
{
  "name": "Shopify Enable Loader",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/enable-loader",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1100,
        64
      ],
      "id": "webhook-enable",
      "name": "Receive Enable Request",
      "webhookId": "enable-loader-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse request and build shop domain\nconst body = $input.first().json.body;\nconst subdomain = body.subdomain;\nconst shopDomain = subdomain + '.myshopify.com';\n\nreturn [{ json: { subdomain, shopDomain } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        64
      ],
      "id": "parse-request",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "resource": "table",
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -620,
        64
      ],
      "id": "list-tables",
      "name": "List data tables",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "name",
        "include": "selectedOtherFields",
        "fieldsToInclude": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -380,
        64
      ],
      "id": "split-out",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "table-exists",
              "leftValue": "={{ $json.name }}",
              "rightValue": "stores",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -140,
        64
      ],
      "id": "if-table-exists",
      "name": "If Table exists"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        100,
        -40
      ],
      "id": "get-store-creds",
      "name": "Get Store Credentials",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find matching store\nconst rows = $input.all();\nconst shopDomain = $('Parse Request').first().json.shopDomain;\nconst subdomain = $('Parse Request').first().json.subdomain;\n\nconst store = rows.find(r => r.json.shopDomain === shopDomain);\n\nif (store && store.json.accessToken) {\n  return [{ json: { found: true, subdomain, accessToken: store.json.accessToken } }];\n}\n\nreturn [{ json: { found: false, subdomain } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        -40
      ],
      "id": "find-store",
      "name": "Find Store"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "found-check",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        580,
        -40
      ],
      "id": "if-creds-found",
      "name": "Credentials Found?"
    },
    {
      "parameters": {
        "url": "=https://{{ $json.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        820,
        -140
      ],
      "id": "check-scripts",
      "name": "Check Existing Scripts",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const CURRENT_VERSION = '1.1.0';\nconst scriptTags = $input.first().json.script_tags || [];\nconst accessToken = $('Find Store').first().json.accessToken;\nconst subdomain = $('Find Store').first().json.subdomain;\n\n// Find existing FinalForm loader\nconst loaderTag = scriptTags.find(t => \n  t.src && (t.src.includes('finalform'))\n);\n\nif (loaderTag) {\n  let existingVersion = null;\n  const versionMatch = loaderTag.src.match(/[?&]v(?:ersion)?=([0-9]+\\.[0-9]+\\.[0-9]+)/);\n  if (versionMatch) {\n    existingVersion = versionMatch[1];\n  }\n  \n  if (existingVersion === CURRENT_VERSION) {\n    return [{\n      json: {\n        action: 'already_installed',\n        scriptTagId: loaderTag.id.toString(),\n        version: existingVersion,\n        accessToken,\n        subdomain\n      }\n    }];\n  } else {\n    return [{\n      json: {\n        action: 'upgrade',\n        oldScriptTagId: loaderTag.id.toString(),\n        oldVersion: existingVersion,\n        newVersion: CURRENT_VERSION,\n        accessToken,\n        subdomain\n      }\n    }];\n  }\n} else {\n  return [{\n    json: {\n      action: 'install',\n      version: CURRENT_VERSION,\n      accessToken,\n      subdomain\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        -140
      ],
      "id": "check-loader-status",
      "name": "Check Loader Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "already-installed",
              "leftValue": "={{ $json.action }}",
              "rightValue": "already_installed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1300,
        -140
      ],
      "id": "already-installed",
      "name": "Already Installed?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"version\": \"{{ $json.version }}\",\n  \"alreadyInstalled\": true,\n  \"scriptTagId\": \"{{ $json.scriptTagId }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1540,
        -300
      ],
      "id": "already-response",
      "name": "Already Installed Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-upgrade",
              "leftValue": "={{ $json.action }}",
              "rightValue": "upgrade",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        -140
      ],
      "id": "needs-upgrade",
      "name": "Needs Upgrade?"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://{{ $json.subdomain }}.myshopify.com/admin/api/2024-01/script_tags/{{ $json.oldScriptTagId }}.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1780,
        -300
      ],
      "id": "delete-old-script",
      "name": "Delete Old Script Tag",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Find Store').first().json.subdomain }}.myshopify.com/admin/api/2024-01/storefront_access_tokens.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Find Store').first().json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"storefront_access_token\":{\"title\":\"FinalForm Loader\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2260,
        20
      ],
      "id": "create-sf-token",
      "name": "Create SF Token",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Find Store').first().json.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Find Store').first().json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script_tag\": {\n    \"event\": \"onload\",\n    \"src\": \"https://finalformfunnel.web.app/finalform-loader.prod.js?sf_token={{ $json.storefront_access_token.access_token }}&v=1.1.0\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2500,
        20
      ],
      "id": "inject-script",
      "name": "Inject Script Tag",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"version\": \"1.1.0\",\n  \"alreadyInstalled\": false,\n  \"scriptTagId\": \"{{ $json.script_tag.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2740,
        20
      ],
      "id": "success-response",
      "name": "Success Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Check Loader Status').first().json.subdomain }}.myshopify.com/admin/api/2024-01/storefront_access_tokens.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Check Loader Status').first().json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"storefront_access_token\":{\"title\":\"FinalForm Loader\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2020,
        -300
      ],
      "id": "create-sf-upgrade",
      "name": "Create SF Token (Upgrade)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Check Loader Status').first().json.subdomain }}.myshopify.com/admin/api/2024-01/script_tags.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $('Check Loader Status').first().json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script_tag\": {\n    \"event\": \"onload\",\n    \"src\": \"https://finalformfunnel.web.app/finalform-loader.prod.js?sf_token={{ $json.storefront_access_token.access_token }}&v=1.1.0\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2260,
        -300
      ],
      "id": "inject-script-upgrade",
      "name": "Inject Script Tag (Upgrade)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"version\": \"1.1.0\",\n  \"upgraded\": true,\n  \"scriptTagId\": \"{{ $json.script_tag.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2500,
        -300
      ],
      "id": "upgrade-response",
      "name": "Upgrade Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Store not connected. Please connect your store first.\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        820,
        60
      ],
      "id": "no-creds-error",
      "name": "No Credentials Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Store credentials table not found. Please connect your store first.\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        100,
        160
      ],
      "id": "no-table-error",
      "name": "No Table Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.message || 'Error configuring loader' }}\"\n}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2740,
        160
      ],
      "id": "error-response",
      "name": "Error Response"
    }
  ],
  "connections": {
    "Receive Enable Request": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "List data tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List data tables": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If Table exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Table exists": {
      "main": [
        [
          {
            "node": "Get Store Credentials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Table Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Credentials": {
      "main": [
        [
          {
            "node": "Find Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Store": {
      "main": [
        [
          {
            "node": "Credentials Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials Found?": {
      "main": [
        [
          {
            "node": "Check Existing Scripts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Credentials Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Scripts": {
      "main": [
        [
          {
            "node": "Check Loader Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Loader Status": {
      "main": [
        [
          {
            "node": "Already Installed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Installed?": {
      "main": [
        [
          {
            "node": "Already Installed Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Upgrade?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Upgrade?": {
      "main": [
        [
          {
            "node": "Delete Old Script Tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create SF Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Script Tag": {
      "main": [
        [
          {
            "node": "Create SF Token (Upgrade)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SF Token (Upgrade)": {
      "main": [
        [
          {
            "node": "Inject Script Tag (Upgrade)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Script Tag (Upgrade)": {
      "main": [
        [
          {
            "node": "Upgrade Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create SF Token": {
      "main": [
        [
          {
            "node": "Inject Script Tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Script Tag": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}