src/workflows-temp/Shopify_Master_Form_Sync_REST.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/master-sync",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -10560,
        2288
      ],
      "id": "aae2fff5-993c-4ab8-a34f-7b81b996373a",
      "name": "Webhook Start",
      "webhookId": "master-sync-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse request and build shop domain\nconst body = $input.first().json.body;\nconst subdomain = body.subdomain;\nconst shopDomain = subdomain + '.myshopify.com';\nconst action = body.action || 'save';\nconst ownerId = body.ownerId;\nconst configData = body.data;\nconst clientId = body.clientId;\nconst clientSecret = body.clientSecret;\n\nreturn [{ json: { \n  subdomain, \n  shopDomain,\n  action,\n  ownerId,\n  configData,\n  clientId,\n  clientSecret\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10320,
        2288
      ],
      "id": "bad90c47-9d7b-4027-90ef-6ecf5352d0bf",
      "name": "Parse Request"
    },
    {
      "parameters": {
        "resource": "table",
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -10080,
        2288
      ],
      "id": "f49c06c9-0562-4925-8547-f08299fe4545",
      "name": "List data tables",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Check if 'stores' table exists in the list of tables\nconst tables = $input.all();\nconst tableNames = tables.map(t => t.json.name);\n\nconst storesTableExists = tableNames.includes('stores');\n\n// Find the stores table ID if it exists\nlet storesTableId = null;\nif (storesTableExists) {\n  const storesTable = tables.find(t => t.json.name === 'stores');\n  storesTableId = storesTable ? storesTable.json.id : null;\n}\n\nreturn [{\n  json: {\n    storesTableExists,\n    storesTableId,\n    tableNames\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9840,
        2288
      ],
      "id": "73193bc4-c465-4854-b69a-05366d6832a3",
      "name": "Check Tables Exist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "table-exists",
              "leftValue": "={{ $json.storesTableExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9600,
        2288
      ],
      "id": "3fc613be-cd8c-4bc6-9037-54cecda3f8c3",
      "name": "If Table exists"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Check Tables Exist').first().json.storesTableId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -9360,
        2192
      ],
      "id": "d91f33fc-02b4-451a-ab7b-5611531d4f9b",
      "name": "Get Store Credentials",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Find matching store and verify credentials\nconst rows = $input.all();\nconst req = $('Parse Request').first().json;\n\nconst store = rows.find(r => r.json.shopDomain === req.shopDomain);\n\nif (store) {\n  const storedClientId = store.json.clientId;\n  const storedClientSecret = store.json.clientSecret;\n  \n  // Strict Credential Check\n  if (storedClientId === req.clientId && storedClientSecret === req.clientSecret) {\n    return [{ json: { \n      found: true, \n      rowId: store.id,\n      config: store.json.config,\n      subdomain: req.subdomain, \n      accessToken: store.json.accessToken,\n      action: req.action,\n      ownerId: req.ownerId,\n      configData: req.configData\n    } }];\n  }\n}\n\nreturn [{ json: { found: false, subdomain: req.subdomain, error: 'Invalid credentials or store not found' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9120,
        2192
      ],
      "id": "91cc8dff-40f6-4d94-abd1-926b4f967c71",
      "name": "Find Store"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "found-check",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8880,
        2192
      ],
      "id": "78e166fc-7bf3-4cac-affc-33e94b308e8a",
      "name": "Credentials Found?"
    },
    {
      "parameters": {
        "jsCode": "// Prepare Config Update\nconst req = $input.first().json;\n\n// Current Config from Data Table\nlet currentConfig = {};\ntry {\n  currentConfig = req.config ? JSON.parse(req.config) : {};\n} catch (e) {\n  currentConfig = {};\n}\n\n// Initialize structure if needed\nif (!currentConfig.shopConfig) currentConfig.shopConfig = null;\nif (!currentConfig.productConfigs) currentConfig.productConfigs = {};\n\nconst action = req.action || 'save';\nconst configData = req.configData;\nconst ownerId = req.ownerId;\n\n// Update Logic\nif (ownerId && String(ownerId).match(/^\\d+$/)) {\n  // Product Level\n  const productId = String(ownerId);\n  if (action === 'delete') {\n    delete currentConfig.productConfigs[productId];\n  } else {\n    currentConfig.productConfigs[productId] = configData;\n  }\n} else {\n  // Shop Level\n  if (action === 'delete') {\n    currentConfig.shopConfig = null;\n  } else {\n    currentConfig.shopConfig = configData;\n  }\n}\n\nconst newConfigString = JSON.stringify(currentConfig);\n\nreturn [{\n  json: {\n    rowId: req.rowId,\n    newConfigString\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8640,
        2080
      ],
      "id": "2d4bcd6b-ad89-43ac-be25-6b49982f79d6",
      "name": "Prepare Context"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('If Table exists').first().json.id }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.rowId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "config": "={{ $json.newConfigString }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "storeId",
              "displayName": "storeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "shopDomain",
              "displayName": "shopDomain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subdomain",
              "displayName": "subdomain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "clientId",
              "displayName": "clientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "clientSecret",
              "displayName": "clientSecret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "accessToken",
              "displayName": "accessToken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "shopName",
              "displayName": "shopName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "config",
              "displayName": "config",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -8400,
        2192
      ],
      "id": "80db6d37-4b80-47ff-9f20-aac5f617e2ba",
      "name": "Update Config in Table",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"data\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -7200,
        2192
      ],
      "id": "db4a41a6-6adb-4684-a098-8649fbf627cc",
      "name": "Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || $json.message || 'Operation failed' }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -7200,
        2384
      ],
      "id": "42751e55-d699-48ae-b2a1-be099d8ac574",
      "name": "Error Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Store not connected. Please connect your store first.\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -8640,
        2288
      ],
      "id": "dcaf38e8-6638-4a42-a6dc-1b4151f788aa",
      "name": "No Credentials Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Store credentials table not found. Please connect your store first.\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -9360,
        2384
      ],
      "id": "f7baf96d-a0bd-45ba-802b-51f60c3a4dbc",
      "name": "No Table Error"
    }
  ],
  "connections": {
    "Webhook Start": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "List data tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List data tables": {
      "main": [
        [
          {
            "node": "Check Tables Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tables Exist": {
      "main": [
        [
          {
            "node": "If Table exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Table exists": {
      "main": [
        [
          {
            "node": "Get Store Credentials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Table Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Credentials": {
      "main": [
        [
          {
            "node": "Find Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Store": {
      "main": [
        [
          {
            "node": "Credentials Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials Found?": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Credentials Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Update Config in Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Config in Table": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b55b8c5b490d75637e4db729caf7c75486c3398f3275794ad40beef7f9800920"
  }
}