src/workflows-temp/Shopify_Get_Products.json
{
  "name": "Shopify Get Products",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify/products",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2128,
        560
      ],
      "id": "939b4125-90d1-4674-9f12-ea1e8639d424",
      "name": "Webhook",
      "webhookId": "8caf245b-733d-460c-b3cf-9df3e5a10110"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.body.subdomain }}.myshopify.com/admin/oauth/access_token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "={{ $json.body.clientId }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.body.clientSecret }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2352,
        560
      ],
      "id": "bffdc886-7614-4f2f-ae86-0546c5cc66a0",
      "name": "GetToken",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Webhook').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/products/count.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Webhook').item.json.body.search ? $('Webhook').item.json.body.search : undefined }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2560,
        448
      ],
      "id": "479f9ca5-4ae1-4c89-ae1a-9dce4c43a729",
      "name": "GetCount",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Webhook').item.json.body.subdomain }}.myshopify.com/admin/api/2024-01/products.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ $('Webhook').item.json.body.limit || 250 }}"
            },
            {
              "name": "fields",
              "value": "id,title,handle,status,variants,options,images,vendor,product_type,published_at"
            },
            {
              "name": "title",
              "value": "={{ !$('Webhook').item.json.body.page_info && $('Webhook').item.json.body.search ? $('Webhook').item.json.body.search : undefined }}"
            },
            {
              "name": "page_info",
              "value": "={{ $('Webhook').item.json.body.page_info || undefined }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2560,
        672
      ],
      "id": "ef34d14c-b804-4fbd-9d17-ccc6d6149000",
      "name": "GetProducts",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.item.json.headers;\nconst linkHeader = headers.link || headers.Link || '';\nlet next = null;\nlet prev = null;\n\nif (linkHeader) {\n  const links = linkHeader.split(',');\n  links.forEach(link => {\n    if (link.includes('rel=\"next\"')) {\n      const match = link.match(/page_info=([^>&]+)/);\n      if (match) next = match[1];\n    }\n    if (link.includes('rel=\"previous\"')) {\n      const match = link.match(/page_info=([^>&]+)/);\n      if (match) prev = match[1];\n    }\n  });\n}\n\nreturn {\n  products: $input.item.json.body.products,\n  next_page_info: next,\n  prev_page_info: prev\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        672
      ],
      "id": "591c5c68-5f4e-4d1e-ada7-7b28409667bf",
      "name": "ParsePagination"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3008,
        560
      ],
      "id": "54d3a95a-0b9b-422b-9afc-a7fd925f211c",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Format the response with proper JSON structure\nconst count = $input.first().json.count || 0;\nconst products = $input.first().json.products || [];\nconst next = $input.first().json.next_page_info || '';\nconst prev = $input.first().json.prev_page_info || '';\n\nreturn [{\n  json: {\n    count: count,\n    products: products,\n    next_page_info: next,\n    prev_page_info: prev\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        560
      ],
      "id": "f93cb43c-7761-4021-9b1f-4bb230dd3ca9",
      "name": "Format Response"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3376,
        560
      ],
      "id": "11f63852-5e1a-4108-a9f0-0bec5f36def0",
      "name": "Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || $json.message || 'Connection Failed' }}\"\n}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2560,
        848
      ],
      "id": "a173529f-9c98-46b9-b90e-0f4ee6b7c0da",
      "name": "Connect Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error || $json.message || 'Failed to fetch products' }}\"\n}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2784,
        848
      ],
      "id": "dcd9c1dd-0508-4aee-8af4-5576aa527135",
      "name": "Products Error"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GetToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetToken": {
      "main": [
        [
          {
            "node": "GetCount",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetProducts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Connect Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCount": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Products Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetProducts": {
      "main": [
        [
          {
            "node": "ParsePagination",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Products Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParsePagination": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": null
}